.fsz8 {
	font-size: 8px;	
}
.fsz10 {
	font-size: 10px;	
}
.fsz12 {
	font-size: 12px;	
}
.fsz14 {
	font-size: 14px;	
}
.fsz16 {
	font-size: 16px;	
}
.fsz18 {
	font-size: 18px;	
}
.fsz21 {
	font-size: 21px;	
}
.fsz24 {
	font-size: 24px;	
}
.fsz31 {
	font-size: 31px;	
	letter-spacing: -1.1px;
}
.fsz34 {
	font-size: 34px;	
}