@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i&subset=cyrillic-ext');

*{
	margin: 0px;
	padding: 0px;
	outline:none;
}
a, hover{
	text-decoration:none;
	color:#373737;
}
ul{
	list-style:none;
}
body, html{
	min-width: 1100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#373737;
	line-height: 1.5;
	font-size: 14px;
	letter-spacing: -0.3px;
	background-color: #ebebeb;
}
body {

	/*background: url(../img/bg.png) no-repeat center top;*/
}
input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: -0.6px;	
	color:#373737;
}
input::-webkit-input-placeholder {color:#a5a5a5;opacity: 1}
input::-moz-placeholder          {color:#a5a5a5;opacity: 1}
input:-moz-placeholder           {color:#a5a5a5;opacity: 1}
input:-ms-input-placeholder      {color:#a5a5a5;opacity: 1}
header {
	background-color: #f84f04;
}
.float_l {
	float: left;
}

h1 {
	font-weight: 300;
}
h2 {
	font-weight: 600;
}
.float_r {
	float: right;
}
input.no_margin_sub[type="submit"] {
	margin: 0;
}
.fw600 {
	font-weight: 600;
}
.header_menu {
	width: 1050px;
	margin: 0 auto;
	padding: 7px 18px;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: -0.1px;
	color: white;
}
.header_menu ul li a{
	color: white;
	cursor: pointer;

}
.header_menu ul li{
	display: inline-block;
	margin-right: 31px;
}
.header_menu ul{
	float: left;
}
.header_menu ul.header_menu_right{
	float: right;
	font-weight: 300;
}
.header_menu ul.header_menu_right li {
	padding-left: 22px;
	margin-right: 40px;
}
.header_menu ul.header_menu_right li:last-child {
	margin-right: 0;
}
.header_menu ul.header_menu_right li.search_link2 {
	background: url(../img/search_link2.png) no-repeat center left;
}
.header_menu ul.header_menu_right li.star {
	background: url(../img/star.png) no-repeat center left;
}
.header_menu ul.header_menu_right li.human {
	background: url(../img/human.png) no-repeat center left;
}
a.logo {
	display: inline-block;
	background: url(../img/logo.png) no-repeat center left;
	float: left;
	height: 38px;
	padding-left: 124px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.content_block {
	width: 1050px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
}

.content_block.clean {
	background-color: transparent;
	border: none;
	padding: 17px 0px;
}
.content_block.head_txt {
	padding: 21px 0px 21px 36px;
}
.content_block form{
	background: url(../img/form_bg.png) no-repeat left bottom;
	min-height: 206px;
	padding: 0px 18px;
}
input[type="text"] {
	border: 1px solid #c2c2c2;
	border-radius:3px;
	width: 266px;
	padding: 0px 17px;
	line-height: 37px;
	float: left;
}
.fsz31 {
	padding-right: 14px;
	letter-spacing: -1.1px;
}
.padding_top_txt_review {
	padding-top: 67px;
}
.txt_gray {
	color: #747474;
	padding-right: 23px;
}
.txt_light_gray {
	color: #9e9e9e;
}
.txt_dark_gray {
	color: #a1a1a1;
}
.red_dotted_link {
	color: #f83201;
	border-bottom: 1px dashed #f83201;
	transition: border-bottom ease 0.3s; 
}
.txt_align_center {
	text-align: center;
}
.red_link {
	color: #f83201; 
}
.red_link.search_link {
	padding-left: 29px;
	margin-top: 9px;
	float: right;
	background: url(../img/search_link.png) no-repeat center left;

}
.red_dotted_link:hover {
	border-bottom: 1px dashed transparent;
}
.wrapper { 
	padding: 23px 2px;
	padding-bottom: 9px;
}
.wrapper.underline { 
	border-bottom: 1px solid #d7d7d7;
}
.wrapper.padding2 { 
	padding: 21px 2px;
	padding-bottom: 9px;
}

.wrapper.padding3 { 
	padding-bottom: 32px;
}
.wrapper.padding4 {  
	padding-top: 29px;  
	padding-bottom: 25px;
}
.wrapper.padding5 {  
	padding-top: 14px;
}
.wrapper.padding_left_right {  
	padding-left: 19px;
	padding-right: 19px;
}



.wrapper.no_padding { 
	padding:0px 2px;
}
.select2-container .select2-selection--single {
	height: 39px;
	border-radius:3px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 39px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 6px;
}
.select2-container {
    min-width: 87px;
    border-radius: 3px;
}
.form_select_wrap {
	float: left;
}
.select2-container--default .select2-selection--single {
	border-color: #c2c2c2;
}
.form_select_wrap {
	margin-right: 18px;
}
.form_select_wrap.car_type .select2-container {
	width: 153px  !important;
}
.form_select_wrap.manufac .select2-container {
	width: 184px !important;
}
.form_select_wrap.brand .select2-container {
	width: 160px !important;
}
.form_select_wrap.model .select2-container {
	width: 153px !important;
}
.form_select_wrap.year .select2-container {
	width: 88px !important;
}
.form_select_wrap.gear_box .select2-container {
	width: 159px !important;
}
.form_select_wrap.wheel .select2-container {
	width: 111px !important;
}
.form_select_wrap.engine .select2-container {
	width: 158px !important;
}
.form_select_wrap.wheel_drive .select2-container {
	width: 160px  !important;
}
.form_select_wrap.seller .select2-container {
	width: 183px  !important;
}
.form_select_wrap.used .select2-container {
	width: 145px  !important;
}
.form_select_wrap.chipper .select2-container {
	width: 130px  !important;
}
.form_select_wrap.chipper {
	margin-right: 21px;
}
.form_select_wrap:last-child {
	margin-right:0px;
}
.select2-dropdown {
	border: 1px solid #c2c2c2 !important;
	border-radius:0;
	top:2px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.33); 
}
.select2-results__option {
	border-top: 1px solid #c2c2c2;
}
.select2-results__option:first-child {
	border-top: none;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
		background-color: #f2f2f2;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #f2f2f2;
	color: inherit;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-radius: 3px;
	border-color: #ff4800;
}
input[type="text"].filter_input {
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	width: 47px;
	padding: 0px 12px;
}
input[type="text"].filter_input.right {
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	margin-left: -4px;
}
input[type="submit"] {
	background: url(../img/gradient.png) repeat-x;
	border: none;
	border-radius:3px;
	padding: 0px 17px;
	line-height: 38px;
	color: #fff; 
	margin-left: 11px;
	cursor: pointer;	
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color:transparent;
	border-style: none;
	border-width:0;
	background: url(../img/arrow_down.png) no-repeat;
	width: 10px;	
	margin-left: -7px;
	margin-top: -3px;
	height: 8px;	
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	background: url(../img/arrow_up.png) no-repeat;
}
.select2-results__option {height: 36px;line-height: 36px;}
.form_checkbox {
margin-right: 15px;
}
.car_name_wrap {
	position: relative;	
	float:left;	
}
.car_name_wrap label{
	float: left;
	line-height: 32px;	
}
.search_results span{
	display: block;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search_results {
	display: none;
	border:1px solid #c2c2c2;
	position: absolute;
	margin-top: 41px;
	right: 0;	
	width: 300px;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.33); 	
}
.search_results.active {
	display: block;	
}
.search_results li{
	padding: 14px 17px;
	border-top: 1px solid #c2c2c2;
}
.search_results li{
	cursor: pointer;	
}
.search_results li:hover{
	background-color: #f2f2f2;
}
.search_results li:first-child{
	border-top: none;
}

.search_box.active {
	border-color: #ff4800;
}
.form_select_wrap.kms .select2-container {
	width: 102px !important;
	margin-left: 11px;
}
ul.breadcrumb {
    list-style: none;
    float: left;
    margin: 10px 0px 0px 44px;
}
ul.breadcrumb li {
    display: inline;
    color: #5f5f5f;
}
ul.breadcrumb li+li:before {
    padding: 0px;
    color: #f83201;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #f83201;
    text-decoration: underline;
    transition: border-bottom ease 0.3s;
}
ul.breadcrumb li a:hover {
    text-decoration: none;
}
.filter_input_wrap {
	float: left;
	margin-right: 18px;
}
.filter_input_wrap:last-child {
	margin-right: 0px;
}
.filter_label {
	color: #606060;
	float: left;
	padding-top: 11px;
	padding-right: 10px;
}
input.filter_input.wider[type="text"] {
	width: 51px;
}
input.filter_input.wider2[type="text"] {
	width: 68px;
}
.form_checkbox.checkbox2 {
	margin-left: 27px;
	margin-top: 9px;
}
ul.colors {
	float: left;
}
ul.colors li{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 99px;
	margin-right: 5px;
	position: relative;
}
ul.colors li a.active{

box-shadow: 0 0 0 2px #b9b7b7, 0 0 0 5px #e3e3e3;
background-image: url(../img/colors_active.png);
background-repeat: no-repeat;
background-position: center;
}

ul.colors li a{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 99px;
}
ul.colors li.circ_light_gray{
	background-color: #e1e1e1;
}
ul.colors li.circ_gray{
	background-color: #c2c2c2;
}
ul.colors li.circ_black{
	background-color: #000000;
}
ul.colors li.circ_red{
	background-color: #ed1c24;
}
ul.colors li.circ_yellow{
	background-color: #e1d71d;
}
ul.colors li.circ_green{
	background-color: #00a651;
}
ul.colors li.circ_blue{
	background-color: #00aeef;
}
ul.colors li.circ_dark_blue{
	background-color: #2e3192;
}
ul.colors li.circ_pink{
	background-color: #ec008c;
}
ul.colors li.circ_brown{
	background-color: #8c6239;
}
ul.colors li.circ_light_brown{
	background-color: #fdc689;
}
ul.colors li.circ_purple{
	background-color: #630460;
}
ul.colors li.circ_yellow_grad{
	background: -moz-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffd101), color-stop(50%, #ffff00), color-stop(100%, #ffd301)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* ie10+ */
	background: linear-gradient(90deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd101', endColorstr='#ffd301',GradientType=1 ); /* ie6-9 */
}
ul.colors li.circ_gray_grad{
	background: -moz-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #a8a8a8)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* ie10+ */
	background: linear-gradient(90deg, #ffffff 0%, #a8a8a8 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a8a8a8',GradientType=1 ); /* ie6-9 */
}

ul.colors li.reset a{
	font-size: 15px;
	vertical-align: middle;
	margin-top: -1px;
	margin-left: 4px;
}
ul.colors li.reset a.active{
	background: none;
	box-shadow: none;
}
.wrapper_color {
	    padding-top: 12px;
	    padding-right: 50px;
}
input.no_bg_sub[type="submit"] {
	border: 1px solid #c2c2c2;
	background: #fff;
	color: #626262;
	margin: 0px 13px 0px 0px;
	padding: 0px 24px;
}
.content_block.banner {
	background-color: #cccccc;
	min-height: 189px;
	margin-top: 19px;
}
.content_block.banner.no_bg {
	background-color: #fff;
	margin-top: 1px;
	margin-bottom: 1px;
	min-height: 189px;
}
.orange_txt {
	color: #f75b02;
	font-weight: 600;
}
.counter_text {
	padding-top: 8px;
}
.brends_h1 {
	padding-bottom: 13px;
}
.car_brands_list{
	margin-top: 21px;
	margin-right: 84px;
}
.car_brands_list:last-child{
	margin-right: 0;
}
.car_brands_list li {
	padding-bottom: 15px;
}
.car_brands_list li span{
	color: #5f5f5f;
}
.car_brands_list li a {
	color: #f83201;
	text-decoration: underline;
	margin-right: 3px;
	transition: text-decoration ease 0.3s;
}
.car_brands_list li a:hover {
	text-decoration: none;
}
/******************radio*/
.control-group {
	clear: both;
	padding-top: 16px;
	padding-bottom: 14px;
}
.control {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 6px;
    padding-top: 2px;
    margin-right: 35px;
    cursor: pointer;
}
.control:last-child {
    margin-right: 0px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {

    position: absolute;
    top: 4px;
    left: 0;
    height: 13px;
    width: 13px;
    background: #FFFFFF;
    border: 1px solid #BDBABA;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #FFFFFF;
}

.control input:checked ~ .control_indicator {
    background: #FFFFFF;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #FFFFFF;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
	left: 3px;
	top: 3px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #FF4E00;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}
/******************radio*/

.car_img { 
	width: 238px;
	height: 179px;
}
.car_img img{ 
	width: 100%;
	height: 100%
}
.car_info {
	padding-left: 11px;
	position: relative;
}
.car_info .orange_txt{
	padding-bottom: 8px;
}
.car_info-type {    
	margin-left: 11px;
	margin-bottom: 9px;
}
.car_info_type-img {
	display: inline-block;
	width: 50px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center left;
}
.car_info_padding_txt {
	margin-bottom: 4px;
}
.link_border {
	border: 1px solid #c2c2c2;
    background: #fff;
	color: #626262;
	padding: 0px 13px;
	border-radius: 3px;
	line-height: 34px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
	margin-left: 12px;
	display: inline-block;
}
.car_info.padding_top {
	padding-top: 47px;
}
.car_info_padding_txt .txt_light_gray {
	padding-left: 6px;
}
.car_price .orange_txt{ 
	font-weight: 300;
}
.add_fav_link {
	    color: #f75b02;
	    cursor: pointer;
}
.add_fav_link.active {
	color: #f75b02;
}
.car_price .add_fav_link{ 
	margin-left: 16px;
}
.car_price_icon {
	background: url(../img/car_price.png) no-repeat;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin: 2px 0px 0px 8px;
}
.car_price_icon.car_price_icon2 {
	background: url(../img/car_price2.png) no-repeat center;
	width: 11px;
	height: 12px;
	margin-top: 8px;
}
.car_price_icon.car_price_icon2.car_price_icon3 {
	background: url(../img/car_price3.png) no-repeat center;
}
.car_price_range {
	position: relative;
	padding: 5px 0px 10px 2px;
}
.car_price_range .car_price_icon{
	position: absolute;
}
input.no_bg_sub.green[type="submit"] {
	display: block;
	margin: 0px 0px 6px 14px;
	line-height: 35px;
	width: 131px;
	border: none;
	background-color: #a2c608;
	color: #fff
}
.car_block {
	padding-top: 8px;
	padding-bottom: 8px;
}
.car_block:last-child {
	padding-bottom: 16px;
}
.car_block:first-child {
	padding-top: 16px;
}
.car_block.gray_bg {
	background-color: #f7f7f7;
}
.pagination {
    display: inline-block;
}
.pagination a {
    float: left;
    margin-left: 0;
	margin-right: 8px;
	padding: 0 16px;
	line-height: 32px;
}
.pagination a.active,.pagination a:hover {
	background-color: #f75502;
	color: #fff;
	border-color: #f75502;
}
.pagination a.pagination_numb {
	padding: 0 12px;
}

.logo.gray {
	background-image: url(../img/logo_gray.png);
	margin-right: 36px;
    height: 48px;
}
footer {
	background-color: #ccc;
	font-weight: 300;
}
footer .header_menu {
	padding:27px 0; 
}
footer .header_menu ul{
	padding-top: 8px;
}
footer .header_menu ul li a{
	color: #333333;
	font-weight: 300;
}
footer .header_menu li:last-child{
	margin-right: 0;
}
footer a.artmax_logo{
	background: url(../img/artmax_logo.png) no-repeat center left;
	padding-left: 70px;
	font-weight: 300;
	height: 30px;
	line-height: 30px;
}
.view_link {
	line-height: 39px;
	margin-right: 	10px;
}
.view_link.view_link2 {
	margin-right: 0px;
}
.view_link.active {
	color: #f83201;
}
.review_popup {
	padding: 13px;
	border:1px solid #c2c2c2;
	border-radius: 3px;
	position: absolute;
	display: none;
}
.review_popup {
	padding: 11px;
	border:1px solid #c2c2c2;
	border-radius: 3px;
	position: absolute;
	display: none;
	background-color: #fff;
	z-index: 10;
	top: 0;
	margin-left: 203px;
	min-width: 274px;	
}
.review_popup .txt_gray{
	padding-bottom: 8px;
	padding-top: 8px;
}
.review_popup .review_popup_close{
	background: url(../img/review_popup_close.png) no-repeat;
	width: 11px;
	cursor: pointer;
	height: 11px;
	margin-top: 4px;
}
.partner_link {
	text-decoration: underline;
	color: #f83201;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	margin-right: 20px;
}
.partner_link:hover {
	text-decoration: none;
}
.partner_link:nth-child(2n+1){
	margin-right: 0px;
}
.submit_margin {
	margin-right: 13px;
}
