@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i&subset=cyrillic-ext');

*{
	margin: 0px;
	padding: 0px;
	outline:none;
}
a, hover{
	text-decoration:none;
	color:#373737;
	cursor: pointer;
}
ul{
	list-style:none;
}
body, html{
	min-width: 1100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:#373737;
	line-height: 1.5;
	font-size: 14px;
	letter-spacing: -0.3px;
	background-color: #ebebeb;
}
body {
	min-height: calc(100vh - 102px);
	position: relative;
	padding-bottom: 102px;
}
.modal-open {
	overflow:hidden; 
}
input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: -0.6px;	
	color:#373737;
}
input::-webkit-input-placeholder {color:#a5a5a5;opacity: 1}
input::-moz-placeholder          {color:#a5a5a5;opacity: 1}
input:-moz-placeholder           {color:#a5a5a5;opacity: 1}
input:-ms-input-placeholder      {color:#a5a5a5;opacity: 1}
header {
	background-color: #f84f04;
}
.float_l {
	float: left;
}

h1 {
	font-weight: 300;
}
h2 {
	font-weight: 600;
}
time {
	display: block;
}
.float_r {
	float: right;
}
input.no_margin_sub[type="submit"] {
	margin: 0;
}
.red_button {
	background: url(../img/gradient.png) repeat-x;
	border: none;
	border-radius: 3px;
	padding: 0px 17px;
	line-height: 38px;
	color: #fff;
	margin-left: 11px;
	cursor: pointer;
	display: inline-block;
}
.fw600 {
	font-weight: 600;
}
.w50 {
width: 50%;
}
.line_height1 {
	line-height: 1;
}
.display_b {
	display: block;
}
.padding_txt_block p{
	padding-bottom: 20px;
}
.header_menu {
	width: 1050px;
	margin: 0 auto;
	padding: 7px 18px;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: -0.1px;
	color: white;
}
.header_menu ul li a{
	color: white;
	cursor: pointer;

}
.header_menu ul li{
	display: inline-block;
	margin-right: 31px;
}
.header_menu ul{
	float: left;
}
.header_menu ul.header_menu_right{
	float: right;
	font-weight: 300;
}
.header_menu ul.header_menu_right li {
	padding-left: 22px;
	margin-right: 40px;
}
.header_menu ul.header_menu_right li:last-child {
	margin-right: 0;
}
.header_menu ul.header_menu_right li.search_link2 {
	background: url(../img/search_link2.png) no-repeat center left;
}
.header_menu ul.header_menu_right li.search_link2.header_link_accaunt a{
	background: url(../img/search_link2.png) no-repeat center;
	width: 14px;
}
.header_menu ul.header_menu_right li.star {
	background: url(../img/star.png) no-repeat center left;
}
.header_menu ul.header_menu_right li.star.header_link_accaunt a{
	width: 18px;	
	background: url(../img/star.png) no-repeat center;
}
.header_menu ul.header_menu_right li.human {
	background: url(../img/human.png) no-repeat center left;
}
.header_menu ul.header_menu_right li.human.white {
	background: url(../img/human_white.png) no-repeat;
}
.header_menu ul.header_menu_right li.notif.header_link_accaunt a{
	background: url(../img/notif.png) no-repeat center;
	display: inline-block;
	width: 16px;
}
.header_menu ul.header_menu_right li.header_link_accaunt {
	background: none;
	padding-left: 0;
	margin-right: 21px;
	position: relative;
}
.header_menu ul.header_menu_right li.header_link_accaunt a{
	display: inline-block;
	height: 17px;
}
a.logo {
	display: inline-block;
	background: url(../img/logo.png) no-repeat center left;
	float: left;
	height: 38px;
	padding-left: 124px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.content_block {
	width: 1050px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
}
.content_block.margin_top {
	margin-top: 30px;
	margin-bottom: 40px;
}
.content_block.margin_bot {
	margin-bottom: 40px;
}
.content_block.margin_bot19 {
	margin-bottom: 19px;
}
.content_block.margin_top19 {
	margin-top: 19px;
}
.content_block.margin_top_bot19 {
	margin-top: 19px;
	margin-bottom: 19px;
}

.content_block.clean {
	background-color: transparent;
	border: none;
	padding: 17px 0px;
}
.content_block.no_padding {
	padding: 0;
}
.content_block.padding_bottom0 {
	padding-bottom: 0;
}
.content_block_wrap {
	height:auto !important;
	height:100%;
	min-height:100%;
}
.min_h {
	min-height: 87vh;
}
.content_block.head_txt {
	padding: 21px 0px 21px 36px;
}
.content_block form{
	background: url(../img/form_bg.png) no-repeat left bottom;
	min-height: 206px;
	padding: 0px 18px;
}
input[type="text"],input[type="password"],input[type="email"] {
	border: 1px solid #c2c2c2;
	border-radius:3px;
	width: 266px;
	padding: 0px 17px;
	line-height: 37px;
	float: left;
}
.fsz31 {
	padding-right: 14px;
	letter-spacing: -1.1px;
}
.padding_top_txt_review {
	padding-top: 67px;
}
.padding_txt_top {
padding-top: 20px;
}
.txt_gray {
	color: #747474;
	padding-right: 23px;
}
.txt_light_gray,.regist_form .regist_form_block label.absolute.txt_light_gray {
	color: #9e9e9e;
}	
.txt_dark_gray {
	color: #a1a1a1;
}
.txt_green {
	color: #92b207;
}
.red_dotted_link {
	color: #f83201;
	border-bottom: 1px dashed #f83201;
	transition: border-bottom ease 0.3s; 
}
.txt_align_center {
	text-align: center;
}
.txt_align_right {
	text-align: right;
}
.red_link {
	color: #f83201; 
}
.red_link.underline {
	text-decoration: underline;
}
.red_link.underline:hover {
	text-decoration: none;
}

.red_link.underline.margin_left{
	margin-left: 7px;
}
.red_link.underline.pos_absolute{
	position: absolute;
	top: 22px;
	right: 19px;
}
.red_link.search_link {
	padding-left: 29px;
	padding-right: 0;
	margin-top: 9px;
	float: right;
	background: url(../img/search_link.png) no-repeat center left;
	line-height: 1.5;
	color: #f83201; 
	cursor: pointer;
}
.red_dotted_link:hover {
	border-bottom: 1px dashed transparent;
}
.wrapper { 
	padding: 23px 2px;
	padding-bottom: 9px;
}
.wrapper.wrapper2 {     
	padding: 23px 19px;
	position: relative;
}
.wrapper.simple_search .form_select_wrap{ 
    margin-right: 9px;
}
.wrapper.simple_search input[type="submit"] {
	margin-left: 9px;
}
.wrapper.underline { 
	border-bottom: 1px solid #d7d7d7;
}
.wrapper.padding2 { 
	padding: 21px 2px;
	padding-bottom: 9px;
}

.wrapper.padding3 { 
	padding-bottom: 32px;
}
.wrapper.padding4 {  
	padding-top: 29px;  
	padding-bottom: 25px;
}
.wrapper.padding5 {  
	padding-top: 14px;
}
.wrapper.padding6 {  
	padding: 10px 0;
}
.wrapper.padding_left_right {  
	padding-left: 19px;
	padding-right: 19px;
}
.wrapper.wrapper2.padding40 {  
	padding-left: 40px;
	padding-right: 40px;
}




.wrapper.no_padding { 
	padding:0px 2px;
}
.select2-container .select2-selection--single {
	height: 39px;
	border-radius:3px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 39px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 6px;
}
.select2-container {
    min-width: 87px;
    border-radius: 3px;
}
.select2-container--default .select2-selection--single {
	border-color: #c2c2c2;
}
.form_select_wrap {
	float: left;
	position: relative;
	margin-right: 18px;
}
.form_select_wrap.car_type .select2-container {
	width: 153px  !important;
}
.form_select_wrap.manufac .select2-container {
	width: 184px !important;
}
.form_select_wrap.brand .select2-container {
	width: 160px !important;
}
.form_select_wrap.model .select2-container {
	width: 153px !important;
}
.form_select_wrap.year .select2-container {
	width: 88px !important;
}
.form_select_wrap.gear_box .select2-container {
	width: 159px !important;
}
.form_select_wrap.wheel .select2-container {
	width: 111px !important;
}
.form_select_wrap.engine .select2-container {
	width: 158px !important;
}
.form_select_wrap.wheel_drive .select2-container {
	width: 160px  !important;
}
.form_select_wrap.seller .select2-container {
	width: 183px  !important;
}
.form_select_wrap.used .select2-container {
	width: 145px  !important;
}
.form_select_wrap.chipper .select2-container {
	width: 130px  !important;
}
.form_select_wrap.chipper {
	margin-right: 21px;
}
.year_select .select2-container .select2-selection--single{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.year_select.year_select2 .select2-container .select2-selection--single{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left-color: transparent;
	border-right-color: #c2c2c2;
}
.year_select .select2-container {
    min-width: 70px;
}
.form_select_wrap:last-child {
	margin-right:0px;
}
.select2-dropdown {
	border: 1px solid #c2c2c2 !important;
	border-radius:0;
	top:2px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.33); 
}
.select2-results__option {
	border-top: 1px solid #c2c2c2;
}
.select2-results__option:first-child {
	border-top: none;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
		background-color: #f2f2f2;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #f2f2f2;
	color: inherit;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	border-radius: 3px;
	border-color: #ff4800;
}
input[type="text"].filter_input {
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	width: 47px;
	padding: 0px 12px;
}
input[type="text"].filter_input.right {
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	border-bottom-right-radius:3px;
	border-top-right-radius:3px;
	margin-left: -4px;
}
input[type="submit"] {
	background: url(../img/gradient.png) repeat-x;
	border: none;
	border-radius:3px;
	padding: 0px 17px;
	line-height: 38px;
	color: #fff; 
	margin-left: 11px;
	cursor: pointer;	
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color:transparent;
	border-style: none;
	border-width:0;
	background: url(../img/arrow_down.png) no-repeat;
	width: 10px;	
	margin-left: -7px;
	margin-top: -3px;
	height: 8px;	
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	background: url(../img/arrow_up.png) no-repeat;
}
.select2-results__option {height: 36px;line-height: 36px;}
.form_checkbox {
margin-right: 15px;
}
.car_name_wrap {
	position: relative;	
	float:left;	
}
.car_name_wrap label{
	float: left;
	line-height: 32px;	
}
.car_name_orange_txt_wrap .orange_txt{
	margin-right: 11px;
}
.car_name_orange_txt_wrap .link_border {
margin-left: 0;
margin-bottom: 10px;
margin-top: 10px;

}
.search_results span{
	display: block;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search_results {
	display: none;
	border:1px solid #c2c2c2;
	position: absolute;
	margin-top: 41px;
	right: 0;	
	width: 300px;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.33); 	
}
.search_results.active {
	display: block;	
}
.search_results li{
	padding: 14px 17px;
	border-top: 1px solid #c2c2c2;
}
.search_results li{
	cursor: pointer;	
}
.search_results li:hover{
	background-color: #f2f2f2;
}
.search_results li:first-child{
	border-top: none;
}

.search_box.active {
	border-color: #ff4800;
}
.form_select_wrap.kms .select2-container {
	width: 102px !important;
	margin-left: 11px;
}
ul.breadcrumb {
    list-style: none;
    float: left;
    margin: 10px 0px 0px 44px;
}
ul.breadcrumb li {
    display: inline;
    color: #5f5f5f;
}
ul.breadcrumb li+li:before {
    padding: 0px;
    color: #f83201;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #f83201;
    text-decoration: underline;
    transition: border-bottom ease 0.3s;
}
ul.breadcrumb li a:hover {
    text-decoration: none;
}
.filter_input_wrap {
	float: left;
	margin-right: 18px;
}
.filter_input_wrap:last-child {
	margin-right: 0px;
}
.filter_label {
	color: #606060;
	float: left;
	padding-top: 11px;
	padding-right: 10px;
}
input.filter_input.wider[type="text"] {
	width: 51px;
}
input.filter_input.wider2[type="text"] {
	width: 68px;
}
.form_checkbox.checkbox2 {
	margin-left: 27px;
	margin-top: 9px;
}

.checkbox{
	display: inline-block;
	cursor: pointer;
	color: #1d1d1b;
	margin-bottom: 10px;
	padding-left: 30px;
	line-height: 1.6;
	background:url(../img/checkbox.png) no-repeat top left;
	min-width: 22px;
	min-height: 22px;
}
.checkbox.margin_top{
	margin-top: 8px;
}
.checkbox.margin_left{
	margin-left: 8px;
}
.checkbox.padding0{
	padding-left: 0;
}
.checkbox.margin_b0{
	margin-bottom: 0px;
}
.checkbox input[type="checkbox"]{
	position: absolute;
	left: 0;
	width: 10px;
	height: 10px;
	opacity: 0;
	visibility:hidden;
	z-index: 10;
}

.checkbox.active{
	background:url(../img/checkbox_active.png) no-repeat top left;
}
ul.colors {
	float: left;
}
ul.colors li{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 99px;
	margin-right: 5px;
	position: relative;
}
ul.colors li input[type="checkbox"]{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	width: 100%;
height: 100%;
z-index: 10;
}
ul.colors li a.active{

box-shadow: 0 0 0 2px #b9b7b7, 0 0 0 5px #e3e3e3;
background-image: url(../img/colors_active.png);
background-repeat: no-repeat;
background-position: center;
}
ul.colors li.white a.active{
	background-color: rgba(203,203,203,0.7);
}

ul.colors li a{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 99px;
}
ul.colors li.white{
	background-color: #fff;
}
ul.colors li.circ_light_gray{
	background-color: #e1e1e1;
}
ul.colors li.circ_gray{
	background-color: #c2c2c2;
}
ul.colors li.circ_black{
	background-color: #000000;
}
ul.colors li.circ_red{
	background-color: #ed1c24;
}
ul.colors li.circ_yellow{
	background-color: #e1d71d;
}
ul.colors li.circ_green{
	background-color: #00a651;
}
ul.colors li.circ_blue{
	background-color: #00aeef;
}
ul.colors li.circ_dark_blue{
	background-color: #2e3192;
}
ul.colors li.circ_pink{
	background-color: #ec008c;
}
ul.colors li.circ_brown{
	background-color: #8c6239;
}
ul.colors li.circ_light_brown{
	background-color: #fdc689;
}
ul.colors li.circ_purple{
	background-color: #630460;
}
ul.colors li.circ_yellow_grad{
	background: -moz-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffd101), color-stop(50%, #ffff00), color-stop(100%, #ffd301)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* ie10+ */
	background: linear-gradient(90deg, #ffd101 0%, #ffff00 50%, #ffd301 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd101', endColorstr='#ffd301',GradientType=1 ); /* ie6-9 */
}
ul.colors li.circ_gray_grad{
	background: -moz-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #a8a8a8)); /* safari4+,chrome */
	background: -webkit-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(0deg, #ffffff 0%, #a8a8a8 100%); /* ie10+ */
	background: linear-gradient(90deg, #ffffff 0%, #a8a8a8 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a8a8a8',GradientType=1 ); /* ie6-9 */
}

ul.colors li.reset a{
	font-size: 15px;
	vertical-align: middle;
	margin-top: -1px;
	margin-left: 4px;
}
ul.colors li.reset a.active{
	background: none;
	box-shadow: none;
}
.wrapper_color {
	    padding-top: 12px;
	    padding-right: 50px;
}
input.no_bg_sub[type="submit"] {
	border: 1px solid #c2c2c2;
	background: #fff;
	color: #626262;
	margin: 0px 13px 0px 0px;
	padding: 0px 24px;
}
.content_block.banner {
	background-color: #cccccc;
	min-height: 189px;
	margin-top: 19px;
}
.content_block.banner.no_bg {
	background-color: #fff;
	margin-top: 1px;
	margin-bottom: 1px;
	min-height: 189px;
}
.orange_txt {
	color: #f75b02;
	font-weight: 600;
}
.fw700 {
	font-weight: 700;
}
.counter_text {
	padding-top: 8px;
}
.brends_h1 {
	padding-bottom: 13px;
}
.car_brands_list{
	margin-top: 21px;
	margin-right: 84px;
}
.car_brands_list:last-child{
	margin-right: 0;
}
.car_brands_list li {
	padding-bottom: 15px;
}
.car_brands_list li span{
	color: #5f5f5f;
}
.car_brands_list li a {
	color: #f83201;
	text-decoration: underline;
	margin-right: 3px;
	transition: text-decoration ease 0.3s;
}
.car_brands_list li a:hover {
	text-decoration: none;
}
/******************radio*/
.control-group {
	clear: both;
	padding-top: 16px;
	padding-bottom: 14px;
}
.control {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 6px;
    padding-top: 2px;
    margin-right: 35px;
    cursor: pointer;
}
.control:last-child {
    margin-right: 0px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {

    position: absolute;
    top: 4px;
    left: 0;
    height: 13px;
    width: 13px;
    background: #FFFFFF;
    border: 1px solid #BDBABA;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #FFFFFF;
}

.control input:checked ~ .control_indicator {
    background: #FFFFFF;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #FFFFFF;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
	left: 3px;
	top: 3px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #FF4E00;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}
.select_ads_menu {
	
}
.select_ads_menu li{
display: inline-block;
margin-left: -5px;

}
.select_ads_menu li:first-child{
margin-left: 0;
}
.select_ads_menu li a.link_border{
border-radius: 0;
}
.select_ads_menu li a.link_border.active{
background-color: #e8e8e8;
}

.select_ads_menu li:first-child a.link_border{
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}

.select_ads_menu li:last-child a.link_border{
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
/******************radio*/

.car_img { 
	width: 238px;
	height: 179px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	display: block;
}

.car_img.w100 {
	width: 100%;
}
.car_info {
	position: relative;
}
.car_info.car_info_wrap2 {
	max-width: 200px;
}
.car_info .orange_txt{
	padding-bottom: 8px;
}
.car_info-type {    
	margin-left: 11px;
	margin-bottom: 9px;
}
.car_info_type-img {
	display: inline-block;
	width: 50px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center left;
}
.car_info_padding_txt {
	margin-bottom: 4px;
}
.link_border {
	border: 1px solid #c2c2c2;
    background: #fff;
	color: #626262;
	padding: 0px 13px;
	border-radius: 3px;
	line-height: 38px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
	margin-left: 12px;
	display: inline-block;
}
.link_border.orange {
	width: 87.7%;
	color: #f75b02;
	border-color:#f75b02;
	margin-top: 15px;
}
.link_border.margin0 {
	margin-left: 0px;

}

.link_border.disabled,.link_border.disabled:hover {
	border-color: #e0e0e0;
	color: #9f9f9f;
	cursor: auto;
	background-color: #fff;
}
.car_info.padding_top {
	    padding-top: 4px;
    padding-left: 20px;
}
.car_info_padding_txt .txt_light_gray {
	padding-left: 6px;
}
.car_price .orange_txt{ 
	font-weight: 300;
}
.car_info_wrap {
	max-width: 56%;
	padding-left: 11px;
	position: relative;
}

.add_fav_link {
	    color: #f75b02;
	    cursor: pointer;
}
.add_fav_link.active {
	color: #f75b02;
}
.car_price .add_fav_link{ 
	margin-left: 16px;
}
.car_price_icon {
	background: url(../img/car_price.png) no-repeat;
	width: 23px;
	height: 23px;
	display: inline-block;
	margin: 2px 0px 0px 8px;
}
.car_price_icon.car_price_icon2 {
	background: url(../img/car_price2.png) no-repeat center;
	width: 11px;
	height: 12px;
	margin-top: 8px;
}
.car_price_icon.car_price_icon2.car_price_icon3 {
	background: url(../img/car_price3.png) no-repeat center;
}
.car_price_range {
	position: relative;
	padding: 5px 0px 10px 2px;
}
.car_price_range .car_price_icon{
	position: absolute;
}
.no_bg_sub.green {
	display: block;
	margin: 0px 0px 6px 14px;
	line-height: 35px;
	width: 131px;
	border: none;
	background-color: #a2c608;
	color: #fff
}
.car_block {
	padding-top: 8px;
	padding-bottom: 8px;
}
.car_block:last-child {
	padding-bottom: 16px;
}
.car_block:first-child {
	padding-top: 16px;
}
.car_block.gray_bg {
	background-color: #f7f7f7;
}
.pagination {
    display: inline-block;
}
.pagination a {
    float: left;
    margin-left: 0;
	margin-right: 8px;
	padding: 0 16px;
	line-height: 32px;
}
.pagination a.active,.pagination a:hover {
	background-color: #f75502;
	color: #fff;
	border-color: #f75502;
}
.pagination a.pagination_numb {
	padding: 0 12px;
}

.logo.gray {
	background-image: url(../img/logo_gray.png);
	margin-right: 36px;
    height: 48px;
}
footer {
	background-color: #ccc;
	font-weight: 300;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
footer .header_menu {
	padding:27px 0; 
}
footer .header_menu ul{
	padding-top: 8px;
}
footer .header_menu ul li a{
	color: #333333;
	font-weight: 300;
}
footer .header_menu li:last-child{
	margin-right: 0;
}
footer a.artmax_logo{
	background: url(../img/artmax_logo.png) no-repeat center left;
	padding-left: 70px;
	font-weight: 300;
	height: 30px;
	line-height: 30px;
}
.view_link {
	line-height: 39px;
	margin-right: 	10px;
}
.view_link.view_link2 {
	margin-right: 0px;
}
.view_link.active {
	color: #f83201;
}
.review_popup {
	padding: 13px;
	border:1px solid #c2c2c2;
	border-radius: 3px;
	position: absolute;
	display: none;
}
.review_popup {
	padding: 11px;
	border:1px solid #c2c2c2;
	border-radius: 3px;
	position: absolute;
	display: none;
	background-color: #fff;
	z-index: 10;
	top: 0;
	margin-left: 203px;
	min-width: 274px;	
}
.review_popup .txt_gray{
	padding-bottom: 8px;
	padding-top: 8px;
}
.review_popup .review_popup_close{
	background: url(../img/review_popup_close.png) no-repeat;
	width: 11px;
	cursor: pointer;
	height: 11px;
	margin-top: 4px;
}
.partner_link {
	text-decoration: underline;
	color: #f83201;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
	margin-right: 20px;
}
.partner_link:hover {
	text-decoration: none;
}
.partner_link:nth-child(2n+1){
	margin-right: 0px;
}
.submit_margin {
	margin-right: 13px;
}
/***********************************registration*/
.padding_bot_registration {
	    padding-bottom: 28px;
}
form.regist_form,.regist_form {
	width: 270px;
	padding: 0;
	padding-bottom: 22px;
	background: none;
	min-height: auto;
}
.regist_form label.login_checkbox{    
	margin-left: 10px;
    margin-top: 8px;
    display: inline-block;
	
}
.regist_form .regist_form_block input{
	width: 86.2%;
	margin-top: 24px;
	margin-bottom: 24px;
}
.regist_form .regist_form_block label.absolute{
	position: absolute;
	top:0;
	color: #606060;
	left: 0;
}
.regist_form_block {
	position: relative;
}
.regist_form_block .light_gray_txt{
	padding-left: 7px;
}
.light_gray_txt{
	color: #acacac;
}
.confirm_checkbox_wrap {
	    width: 300px;
    padding-left: 42px;
    padding-top: 43px;
}
.confirm_checkbox_wrap.confirm_checkbox_wrap2 {
    padding-top: 60px
}
.confirm_checkbox {
	    margin-top: 6px;
}
label.confirm_checkbox_label {
	    width: 258px;
	    margin-left: 10px;
}
.confirm_checkbox_wrap input[type="submit"] {
	    margin-right: 30px;
}
.registration_social_net_block {
	padding-left: 88px;
}
.welcome_img {
	width: 191px;
	height: 191px;
	margin-top: 18px;
}
.wrapper.wrapper_txt {
	width: 790px;
	padding: 0;
}
.wrapper.wrapper_txt p{
    padding-right: 91px;
    padding-bottom: 33px;
}
.reg_soc_icon{
    width: 29px;
    height: 29px;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}
.reg_soc_icon.facebook{
	background-color: #425c95;
}
.reg_soc_icon.google{
	background-color: #ba242b;
}
.reg_soc_icon.at{
	background-color:#356599;
}
.reg_soc_icon.odnoklassniki{
	background-color: #f08b2f;
}
.reg_soc_icon.twitter{
	background-color: #009dd7;
}
.reg_soc_icon.vk{
	background-color:#4b698f;
}
/***********************************registration*/
/***********************************account*/
.wrapper_menu {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d7d7d7;
	padding: 27px 30px;
	padding-bottom: 16px;
	margin-right: 22px;
}
.wrapper_menu.padding_bottom200 {
	padding-bottom: 200px;
}
.wrapper_menu ul li{
	margin-bottom: 20px;
}
.wrapper_menu ul li a{
	padding-right: 12px;
	color: #f75b02;
}
.wrapper_menu ul li a.active,.wrapper_menu ul li span{
	color: #8e8e8e;
}
.wrapper_menu ul li span.account_menu_orange,.notif_header_count{
	color: #fff;
	border-radius: 50%;
	background-color: #f75b02;
	padding: 5px;
	text-align: center;
	min-width: 15px;
}
.notif_header_count {
	position: absolute;
	background-color: #92b207;
	padding: 5px;
	font-size: 9px;
	margin: 7px 0px 0px -6px;
}
.wrapper_menu ul li span.account_menu_orange span{
	color: #fff;

}
.wrapper_menu.wrapper_menu2{
	margin-right: 0;
	width: 718px;
}
form.account_menu_form {
	padding: 0;
	background: none;
	width: 57.1%;
	padding-top: 22px;
}
.account_menu_form label{
	float: left;
	padding-top: 9px;
}
.account_menu_form input{
	float: right;
	width: 231px;
	margin-bottom: 8px;
}
.account_menu_form input[type="submit"]{
	margin-top: 17px;
width: auto;
margin-right: 168px;
margin-bottom: 63px;
}
.account_menu_form input.no_bg_sub[type="submit"]{
	padding: 0px 17px;
}
.account_menu_txt_block {
	line-height: 37px;
	text-align: left;
	width: 266px;
}
.account_menu_txt_block span{
	font-weight: 600;
}
.h1_border_bottom {
	border-bottom: 1px solid #d7d7d7;
	padding: 27px 30px;
}
.wrapper_menu_block {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d7d7d7;
	padding-bottom: 30px;
}
.wrapper_menu_block .wrapper_menu{
	border:none;
}
.margin_top15 {
	margin-top: 15px;
}
.margin_top20 {
	margin-top: 20px;
}
.no_bg_sub2 {
	margin-left: 22px;
}
.edit_link {
	display: inline-block;
	width: 16px;
	height: 21px;
	background: url(../img/edit_link.png) no-repeat  center bottom;
}
.edit_link.del_link {
	background: url(../img/del_link.png) no-repeat  center bottom;
	margin-left: 19px;
}
.account_table {
	display: table;
	width: 100%;
}
.account_table_tr,.account_table_tr_head {
	display: table-row;
}
.account_table_tr .account_table_td:first-child,.account_table_tr_head .account_table_th:first-child{
	padding-left:30px;
}
.account_table_tr .account_table_td:last-child,.account_table_tr_head .account_table_th:last-child{
	padding-right: 15px;
}
.account_table_tr {
	background-color: #f2f2f2;
}
.account_table_tr:nth-child(2n+1) {
	background-color: #fff;
}
.account_table_th,.account_table_td {
	display: table-cell;
}
.account_table_th{
	padding-bottom: 6px;
}
.account_table_td {
	padding:7px 0;
	vertical-align: middle;
}
.form_select_small .select2-container .select2-selection--single{
	height: 31px;
}
.form_select_small .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 31px;
}
.form_select_small .select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 3px;
}
.wrapper_menu.wrapper_menu2.wrapper_menu3 {
	padding-bottom: 0;
}
.regist_form.padding_top {
	padding-top: 30px;
}
.tabs_menu li{ 
	display: inline-block;
	line-height: 60px;
	margin-right: -1px;
}
.tabs_menu li a{ 
	border: 1px solid transparent;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 2px solid transparent;
	margin: 20px;
	border-bottom: 1px dotted;
}
.tabs_menu li a:hover{ 
	border-bottom: none;
}
.tabs_menu li.active a{
	padding: 20px;
	margin: 0px;
	border: 1px solid #d7d7d7;
	background: #fff;
	border-bottom: 3px solid #fff;
	font-weight: 600;
	padding-bottom: 20px;
	color: #f83201;
}
.btn.next,.btn.prev {
	color: #d6d5d5;
	position: absolute;
	top: 106px;
	cursor: pointer;
}
.btn.next {
	right: -23px;
}
.btn.prev{
	left: -22px;
}
.owl-nav {
	display: none;
}
.car_image_carousel {
	width: 170px;
	height: 138px;
	border-radius: 5px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	margin-bottom: 10px;
}
.site_link {
	display: inline-block;
	width: 46px;
	height: 15px;
	margin-bottom: -3px;
	margin-left: 5px;
	background-size: contain;
	background-repeat: no-repeat;
}
.site_link.site2{
	background-image: url(../img/site2.png);
	
}
.site_link.site3{
	background-image: url(../img/site3.png);

}
.site_link.site4{
	background-image: url(../img/site4.png);

}
.site_link.site5{
	background-image: url(../img/site5.png);

}

.hot {
	width: 16px;
	height: 18px;
	background: url(../img/hot.png) no-repeat;
	margin-right: 10px;
}

.wrapper.wrapper2.w938 { 
	max-width: 925px;
	margin:0 auto;
} 
.wrap50 {
	width: 41.477%;
	padding: 40px;
	margin-right: 15px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	border-radius: 5px;
	min-height: 181px;
}
.wrap50.news {
	width: 49%;
	padding: 19px;
	border:none;
	padding-left: 0;
	padding-right: 0;
}
.wrap50.news p{
	padding-right: 0;
}
.wrap50_inner {
	width: 48.677%;
	padding:0px;
	border: none;
	border-radius: 0;
}
p.overflow_txt{
	padding: 0;
	max-height: 85px;
	overflow: hidden;
}
.wrap50_inner.news_txt a{
	line-height: 1.2;
	display: inline-block;
}

.wrap50_img {
	margin: 35px auto;
	    width: 100%;
    min-height: 120px;
background-repeat: no-repeat;
background-size: 95%;
background-position: left;
}
.wrap50 p{
	padding-right: 130px;
}
.wrap50 p.orange_txt,.wrap50_inner p{
	padding-right: 0;
}
.wrap50:last-child {
	margin-right: 0px;
}
strong {
	font-weight: 600;
}
.fw300 {
	font-weight: 300;
} 
.fw400 {
	font-weight:400;
} 
/********************************************scrollbar*****/
.scrollbar {
	max-height: 370px;
	padding:0px;
	border: 1px solid #d7d7d7;
	padding-left:15px;
	background: url(../img/bg_scrollbar.png) repeat-x top;
	margin-bottom: 19px;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: rgba(0,0,0,0.75);
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width: 8px;
	margin: 0 auto;    
	background-color: #d0d0d0;
}
.mCSB_scrollTools {
width: 8px;
}
.mCSB_scrollTools .mCSB_draggerRail {
height: 102%;
border-radius: 0;
margin-top: -1px;
}
/********************************************scrollbar*****/
.wrapper.wrapper_txt.car_sun_wrap {
	width: 606px;
	padding-left: 22px;
}
.wrapper.wrapper_txt.car_sun_wrap ul li{
	padding-right: 135px;
}
.welcome_img.car_sun {
	width: 311px;
    height: 310px;
    margin-top: 72px;
}
.car_image_carousel.image_carousel2 {
	width: 270px;
	height: 216px;
	border-radius: 0;
}
.owl-carousel.margin_top {
	margin-top: 20px;
}
.owl-carousel .txt_light_gray {
	max-height: 84px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 10px;
}
.btn_slider2 {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #c2c2c2;
	text-align: center;
	color: #626262;
	padding: 0px 10px 0px 10px;
	vertical-align: bottom;
	display: inline-block;
	cursor: pointer;
	    line-height: 38px;
}
.btn_slider2 .fa{
	    line-height: 38px;
}
.btn_slider2.prev2 {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -4px;
}
.margin_r_button {
	margin-right: 13px;
}
.wrap50.wrap30 {
	width: 28.4%;;
}
.wrap50.wrap70 {
	width: 54.551%;
}
.link_cursiv {
	font-style: italic;
	text-decoration: underline;
}
.link_cursiv:hover {
	text-decoration: none;
}
.news_block {
	margin-top: 20px;
}
.news_block p.orange_txt {
	font-weight: 300;
}
.news_block p {
	padding-right: 20px;
}
/********************************modal*/
#wrapper_popup{
	display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
    min-height: 1037px;
	min-width: 320px;
}
#wrapper_popup.wrapper_popup2{
    min-height: 100vh;
}

#background_popup {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;
}

.popup {
    display: none;
    width: 295px;
    z-index: 299;
    background: #fff;
    position: fixed;
    left: 50%;
    margin-left: -148px;
   padding: 30px 43px;
    margin-top: 5%;
    border: 1px solid #d7d7d7;

}
.popup.popup_success {
	background: url(../img/popup_success.png) no-repeat 16px center;
    background-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	background-color: #fff;
	width: 443px;
	padding-left: 145px;
	padding-right: 96px;
    margin-left: -343px;
}
.popup.contact_us_popup {
	display: none;
	width: 470px;
	margin-left: -343px;
	background: url(../img/help_bg.png) no-repeat 24px 38px;
	background-color: rgba(0, 0, 0, 0);
	padding-left: 170px;
	background-color: #fff;

}
.popup.brand_search {
	width: 1048px;
   padding: 0px;
	margin-left: -525px;
	border-radius: 5px;

}
.popup.contact_us_popup a.red_link{
	margin-right: 25px;

}

input[type="text"].margin_bot {
	margin-bottom: 20px;
	width: 88%;
}
.popup input.no_bg_sub[type="submit"]{
    padding: 0px 42px;

}
.popup input[type="submit"] {
	padding: 0px 34px;
}
.popup_close {
	position: absolute;
	right: 12px;
	top: 10px;
	cursor: pointer;
	z-index: 300;
	top: 0;
line-height: 32px;

}
/********************************modal*/
.social_account span{
	padding-left: 10px;
	padding-right: 10px;
}
/***********************************news*/
.car_news_img {
	width: 219px;
	height: 165px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-right: 19px;
	position: relative;
}
.car_news_date {
	background-color: #92b207;
	padding: 0px 8px;
	color: #fff;
	text-align: center;
	position: absolute;
	display: inline-block;
	border-radius: 4px;
	line-height: 23px;
	bottom: 10px;
	margin-left: -5px;
}
.news_single_img {
	width: 100%;
	height: 755px;
	margin-bottom: 20px;
}
.news_single_img img{
	width: 100%;
	height: 100%;
}
.contact_us_img {
	background: url(../img/contact_us_img.png) no-repeat;
	width: 295px;
	height: 316px;
	margin: 0 auto;
}
form.regist_form.contact_us_form {
	width: 100%;
}
form.regist_form.contact_us_form .regist_form_block label {
    float: left;
    margin-top: 13px;
    max-width: 70px;
	word-wrap: break-word;
}
form.regist_form.contact_us_form .regist_form_block input,form.regist_form.contact_us_form .regist_form_block textarea {
	float: right;
	width: 79.2%;
	margin:5px 0px; 
}
form.regist_form.contact_us_form .regist_form_block textarea {
	margin-bottom: 25px;
	height: 116px;
}
.wrap50.news.contact_us_left {
	width: 55%;
	padding-top: 0;
}
.wrap50.news.contact_us_right {
	width: 43%;
}
.contact_us_block {
	width: 47.74%;
	margin-right: 25px;
	position: relative;
}
.contact_us_block:last-child {
	margin-right: 0;
}
.wrap50.news.contact_us_left .contact_us_block input{
	width: 56.2%;
}
textarea {
	resize: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: -0.6px;
	color: #373737;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	padding: 0px 17px;
	line-height: 37px;	
}
/****************************************reviews***/
.padding_txt30 {
padding-bottom: 30px;
}
.form_select_wrap.margin_add {
	margin-left: 18px;
}
.review_head_span {
	padding-top: 10px;
}
.form_select_wrap.review_select .select2-container {
	min-width: 50px !important;
}
.wrap50.news.review {
    width: 36%;
    margin-right: 137px;
}
.wrap50.news.review:last-child {
	margin-right: 0px;
}
.car_news_date.review_date {
 position: relative;
 margin:10px 0;
 margin-right: 15px;
 bottom: 0;

}
/*****************************************************brand_search****/

.brand_search_left {
	width: 220px;
	margin-right: 25px;
}
.brand_search_middle {
	width: 330px;
	margin-right: 25px;
}
.brand_search_right {
	width: 410px;
}
/*****************************************************brand_search****/
.control-group.payment_popup_checkbox {
	width: 170px;
	margin-right: 140px;
}
.control-group.payment_popup_checkbox label{
	margin-right: 0;
	font-weight: 600;
}
.payment_checkbx_txt {
	width: 390px;
}
.wrap50.w50_bg1 {
	background: url(../img/w50_bg.png) no-repeat left bottom;
	background-color: #fff;
}
.wrap50.w50_bg2 {
	background: url(../img/w50_bg2.png) no-repeat left bottom;
	background-color: #fff;
}
/******************************************errors***/
.error_img {
	width: 490px;	
	height: 313px;	
	margin: 0 auto;
	background:url(../img/in_progress.png) no-repeat;
}
.error_img.error_404_img {
	width: 391px;	
	height: 221px;	
	background:url(../img/404.png) no-repeat;
}
.error_img.error_500_img {
	width: 361px;	
	height: 297px;	
	background:url(../img/500.png) no-repeat;
}
/******************************************errors***/


/******************************************faq***/
.wrap50.news.faq_block {
	width: 30.4%;
	margin-right: 30px;
}
.wrap50.news.faq_block a{
	margin-bottom: 20px;
	display: inline-block;
}
.wrap50.news.faq_block:last-child {
	margin-right: 0px;
}
.faq_menu li{
	display: inline-block;
	margin-right: 45px;
}
.faq_menu li a.active{
	color: #9c9c9c;
	border-bottom: 1px solid transparent;
}
.faq_menu li:last-child{
	margin-right: 0px;
}
.faq_img {
	width: 100%;
	height: 196px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}

/******************************************faq***/

.article ul {
	list-style-image: url('../img/green_disc.png');
	margin-left: 17px;
	width: 50%;
	padding-top: 20px;
}
.article ul li {
	padding-bottom: 20px;
	padding-left: 9px;
}
.article ol {
    list-style-type: decimal;
    margin-left: 17px;
	width: 50%;
	padding-top: 20px;

}
.article ol li {
    font-size: 18px;
    color: #92b207;
    font-weight: 600; 
	padding-bottom: 20px;
	padding-left: 9px;
}
.article ol li span {
    font-size: 14px;
    font-weight: 300;
    color: #333;
}
/*******************************slide_menu***/
.slide_menu_account::before {
content: '';
width: 0px;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid #fff;
position: absolute;
top: -5px;
clear: both;

}
.slide_menu_account {
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	display: none;
	padding:10px 19px;
	margin-top: 7px;
	max-width: 200px;
	-webkit-box-shadow: 1px 3px 3px 0px rgba(171,171,171,1);
-moz-box-shadow: 1px 3px 3px 0px rgba(171,171,171,1);
box-shadow: 1px 3px 3px 0px rgba(171,171,171,1);	
}
.slide_menu_account a.exit_link{
	color: #f84f04;
	font-weight: 400;
}


/*******************************slide_menu***/
