
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-inst:before { content: '\e803'; } /* '' */
.icon-vimeo:before { content: '\e804'; } /* '' */
.icon-vk:before { content: '\e805'; } /* '' */