/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.nav_ul {
    text-align: right;
    margin-top: 20px;
}
.s_comp_ul {
    text-align: center;
}
.navigation ul.nav_ul li {
    padding: 6px;
    font-size: 16px;
}
a.doctor_appoint {
    display: block;
    border: none;
    margin:15px 0;
    position: relative;
    top: 0;
    right: 0;
}
.contact_links_block {
    font-size: 12px;
}
.contact_txt_icon {
    font-size: 14px;
}
.social_butns_header {margin-left: 77px;}


/******EMPLOYEE_single 1200 *********/
.doctor_img_big {
    width: 90%;
}

/******EMPLOYEE_single END 1200 *********/

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
.logo {
    position: absolute;
        width: 100px;
       height: 90px;
    font-size: 12px;
   
}
.social_butns_header {
    margin-left: 15px;
    margin-top: 75px;
}
.navigation {
    display: none;
    position: absolute;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    z-index: 10;
    width: 100%;
    right: 0px;
    top: 70px;
    padding: 15px 0;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(84,84,84,0.67);
    -moz-box-shadow: 0px 1px 3px 0px rgba(84,84,84,0.67);
    box-shadow: 0px 1px 3px 0px rgba(84,84,84,0.67);      
}
.navigation ul.nav_ul {
    background: #fff;
}


.navigation ul.nav_ul li{
    display: block; 
    text-align: center;
}
.navigation ul.nav_ul li a{
    border:none;
}
.navigation ul.nav_ul li a:hover{
    border:none;
}
.navigation.vertical ul.nav_ul li a{
    border-bottom: 1px solid rgba(36,104,183,0.3);
}
.navigation.vertical ul.nav_ul li a:hover{
    border-bottom: 1px solid rgba(36,104,183,0.3);
}
.navigation.vertical {
    display: block;
    position: relative;
    top: 0px;   
    box-shadow: none; 
    z-index: 1;  
}
.navigation.vertical ul.nav_ul li{
    display: inline-block; 
    text-align: center;
}
.social_butns_header {
    clear:both;
}
.contacts_header {
    padding: 0;
}
.owl-dots {
    display: block;
}
.uslugi_wrap {
    margin-top: 50px;
}
.s_comp_ul {
    text-align: center;
}
.social_butns_header.footer_social {
    display: block;
}
.contact_links_block {
    font-size: 16px;
}
.contact_txt_icon {
    font-size: 16px;
}

.footer_addr_block .footer_addr_block_txt {
    font-size: 16px;
}
#slider3 .owl-dots {
    display: block;
}
#slider1 {
    margin-top: 25px;
}
/******EMPLOYEE 992*********/
.social_butns_header.soc_header2 {
margin-left: 0px;    
margin-top: 66px;
}
ul.breadcrumb {
    padding-left: 10px;        
}
ul.employee_filter {
    text-align: center;
}

/******EMPLOYEE 992 END*********/


/******EMPLOYEE_single 992 END*********/
.doctor_appoint.employee_appoint {
    margin:15px 0;
    float: none;
    border-bottom: none;
}
.doctor_appoint.employee_appoint:hover {
    border-bottom: none;
}
/******EMPLOYEE_single 992 END*********/


/******PACIENT 992*********/

.pacient_link_block {
    text-align: center;
    margin-bottom: 25px;
margin-top: 25px;
    background-position:top center !important;

}
.pacient_menu {
    text-align: left;
}
.pacient_menu li {
    padding-left: 0;
}
.white_row span {
    padding-left: 0;
    padding-right: 0;
}
.white_row span.left_cell{
    max-width: 70%;
}
.border_top {
    padding-right: 20px;
}

/******PACIENT 992 END*********/


/******POPUP 992*********/


.popup {
    left: 0;
    top: 0;
    overflow-y: auto;
    margin: 0;
    width: 100%;
}

/******POPUP 992 END*********/
.navigation.vertical.about_menu {
    padding-top: 0;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 770px) {

.cd-horizontal-timeline {
    display: none;
}   
.mobile_slider {
    display: block;
}
.slider1_block {
min-height: 570px;
}
.slider1_inside {
    top: 87px;
}
/******EMPLOYEE 768*********/
ul.employee_filter {
    max-height: 200px;
    overflow: auto;
    text-align: left;
}
ul.employee_filter li {
    display: block;
}
ul.employee_filter li.active a::after {
    float: right;
}
ul.employee_filter li a.drop_filter {
    position: absolute;
    top: -6px;
    background-color: #fff;
    width: 100%;
    padding-left: 12px;
    left: 0;
    border-bottom: none;
    padding-bottom: 15px;
}
/******EMPLOYEE 768 END*********/


/******USLUGA_SINGLE 768*********/

.usluga_single_ul li {
    padding: 10px;
    margin-left: 15px;
}


/******USLUGA_SINGLE 768 END*********/


/******EMPLOYEE_single 768*********/

.lb-nav a.lb-prev,.lb-nav a.lb-prev:hover {
    left: 10px;
    margin:0;    
}
.lb-nav a.lb-next,.lb-nav a.lb-next:hover {
    right: 10px;
    margin:0;    
}
.lb-nav a.lb-prev,.lb-nav a.lb-next {
    bottom: 0;
    top: 364px;
}
/******EMPLOYEE_single 768 END*********/


/******PACIENT 768 *********/

h4.border_top {
    font-size: 16px;
    padding-right: 10px;
}
.pacient_desc {
    padding-right:10px;
}

.recomend_block a.recomend_block_link {
    font-size: 18px;
}
.recomend_block:hover a.recomend_block_link {
    font-size: 16px;
}
/******PACIENT 768 END*********/

/******REVIEW & CONTACTS 768 *********/


.news_wrap.contacts_wrap {
    padding:5px;
    text-align: left;
}
.news_wrap.contacts_wrap .contact_txt_icon{
    font-size: 10px;
}
.news_wrap.contacts_wrap .contact_txt_icon::before {
    display: none;
}
.news_wrap.contacts_wrap .contact_links_block{
    font-size: 12px;
    padding:5px;
}
.tabs_caption li,.tabs_caption li.active {
    min-height: 0;
    display: inline-block;
    width: auto;
}

h2.padding_left {
    padding: 0;
}
.social_butns_header.contacts_social {
    margin: 0;
}
.tabs_caption {
    text-align: center;
}
.tabs_caption li:first-child,.tabs_caption li:last-child {
    margin-top: 25px;
    margin-bottom:0;
}
/******REVIEW & CONTACTS 768 END*********/
.single_img {
    min-height: 240px;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 482px) {
.logo {
width: 70px;
height: 60px;
}

.news_txt {
    padding-right: 0;
}
.slider1_inside {
    width: 350px;
    padding: 20px 20px 20px 20px;
}
a.link_h {font-size: 24px;}

.social_butns_header.footer_social span {
    display: block;
    clear: both;
    padding: 15px 0;
}
.news_wrap {
    text-align: center;
}
.news_head_txt {
    text-align: center;
}
.news_head_txt.contact_head_txt {
    text-align: center;
}
#slider2 .link_h.link_news {
    font-size: 14px;
    border:none;
}
.social_butns_header {
    display: none;
}
.contacts_header {
    clear: both;
    margin-top: 35px;
}

/******EMPLOYEE 480*********/
.doctor_appoint.employee_appoint {
    float:none;
    border-bottom: none;
}
.employee_info {max-width: 50%;}
/******EMPLOYEE 480 END*********/

/******USLUGI_SINGLE 480*********/

.doctor_appoint_wrap.uslugi_slider .next_button, .doctor_appoint_wrap.uslugi_slider .prev_button {
    top: 76px;
    left: 0;
}
.doctor_appoint_wrap.uslugi_slider .next_button{
    margin-left: 45px;
    margin-right: 0;
}
.doctor_appoint_wrap.uslugi_slider .prev_button{
}
a.doctor_appoint:hover {
    border:none;
}

/******USLUGI_SINGLE 480 END*********/

/******PACIENT 480 *********/

.white_row span.left_cell {
    max-width: 50%;
}
.usluga_single_table.no_margin {
    font-size: 14px;
}
h4.border_top {
    font-size: 14px;
    word-break: break-all;
}
.pacient_desc {
    font-size: 14px;
}
.border_top {
    padding: 0px;
}
/******PACIENT 480 END*********/


/******POPUP 480 *********/

.popup_block_h3,input.css-checkbox[type="checkbox"]:checked + label.css-label, input.css-checkbox[type="checkbox"] + label.css-label {
    float: none;

    max-width:100%;
}
input.css-checkbox[type="checkbox"] + label.css-label {
}
#wrapper_popup {
    overflow-y: auto;
}
.popup_form,.popup_form_right,.button_popup,.captcha_block {
    float: none;
}
.button_popup {
    margin-top: 10px;   
    margin-bottom: 10px;   
}
.popup_input_txt {
    width: 100%;
}
.popup_block {
    padding-bottom: 50px;
}

/******POPUP 480 END*********/



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 362px) {


h2 {
    font-size: 20px;
}


.slider1_inside {
    width: 270px;
}
/******EMPLOYEE 320*********/
.contacts_header.header2 a.contacts_phone {
    margin-right: 0;
}
/******EMPLOYEE 320 END*  ********/


.usluga_single_table.no_margin {
    font-size: 12px;
}
/******PACIENT 320 *  ********/

h4.border_top {
    font-size: 12px;
}
.pacient_desc {
    font-size: 12px;
}

.recomend_block a.recomend_block_link {
    font-size: 14px;
}
.recomend_block:hover a.recomend_block_link {
    font-size: 12px;
}

/******PACIENT 320 END*  ********/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}