*{
	margin: 0px;
	padding: 0px;
	outline:none;
}
body {
	overflow-x: hidden;
	line-height: 1.5;
}
 a:hover,
 a:focus,
 a:active {
    outline: none!important;
}
a, hover{
	padding-bottom: 5px;
	text-decoration:none;
	-webkit-transition: border-bottom ease 0.3s;
    -moz-transition: border-bottom ease 0.3s;
	transition: border-bottom ease 0.3s;
}
a:hover, a:focus {
    text-decoration: none;
    	border-bottom: 1px solid transparent;
}

a{
color: #2468b7;	
border-bottom: 1px solid rgba(36,104,183,0.3);
}
.row {
	margin: 0;
}
ul, ol{
	list-style:none;
}
h1,h2,h4,h5 {
	font-family: 'Core Sans A 65';
	font-size: 30px;
	color: #2468b7;
	font-weight:normal;
}
h1 {
	margin: 0;

}

h2,h1 {
	display: inline-block;
}
h1.center {
	text-align: center;
	display: block;
}
h1.padding_left {
	padding-left: 100px;
	padding-bottom:55px;
}
h3 {
	font-size: 18px;
	color: #2468b7;
	padding-top: 10px;
	padding-bottom: 17px;
}
h3.semibold {
	font-family: 'SF UI  Text Semibold';
	font-size: 22px;
	padding-bottom: 0;
}
h4 {
	font-family: 'SF UI  Text Semibold';
	font-size: 18px;
	color: black;
	padding-top: 30px;
}
.container-fluid {
	padding: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.logo {
	cursor:pointer;
	display:block;
	width:193px;
	height: 185px;
	padding-top: 160px;
	background:url(../img/logo.png) no-repeat top center;
	margin-top: 25px;
	border:none;
	margin-bottom: 25px;
	font-family: 'Core Sans A 45';
	font-size: 14px;	
	text-align: center;
	color: #397fd1;
}
.logo:hover {
	border:none;
}
.navigation ul{
	text-align: right;
}
.navigation ul.nav_ul li{
	display:inline-block;
	padding:17px;
	font-family: 'Core Sans A 45';
	font-size:18px;
	padding-top: 25px;
}
.navigation ul.nav_ul li:last-child{
	padding-right: 0;
}
.navigation ul.nav_ul li a{
	color:#2468b7;
	cursor:pointer;
	padding-bottom: 5px;
}
.navigation ul.nav_ul li a:hover{
	border-bottom: 1px solid transparent;
}
.fa {
	color:white;
}
.social_butns_header {
	margin-top: 33px;
	margin-left: 40px;
	float: left;
}
.social_link {
float: left;
margin: 5px;
width: 24px;
height: 25px;
border-radius: 999px;
background-color: #9cbfe8;
vertical-align: unset;
display: block;
font-size: 15px;
text-align: center;
line-height: 26px;

}
.contacts_header {
	float: right;
	text-align: right;
	padding-right: 0;
	font-size: 18px;
	font-family: 'Core Sans A 65';
	line-height: 38px;
	max-width: 265px;
}
.contacts_phone {
	font-family: 'SF UI  Text bold';
	color: #656565;
}
.contacts_header a{
	display: inline-block;
	padding-bottom: 0;

}
.contacts_header a.price_link_head {
	color: #e9943a;
	border-bottom: 1px solid rgba(233,148,58,0.3);
}
.contacts_header a.price_link_head:hover {
	border-bottom: 1px solid transparent;
}

.humb_but {
	border:none;
	cursor: pointer;
	float: right;
	margin: 20px 0;
}
.humb_but:hover {
	border:none;
}
.humb_but .fa{
	color: #2468b7;
	font-size: 41px;
}
.slider1_block {
	width: 100%;
	height:100%;
	min-height:768px; 
	position: relative;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.slider1_inside {
	position: absolute;
	padding: 40px 103px 40px 40px;
	top: 170px;
	width: 464px;
	background-color: rgba(255, 255, 255, 0.7);
}
a.link_h {
	font-family: 'Core Sans A 65';
	font-size: 30px;
	color: #2468b7;	
	display: inline;
	padding-bottom: 5px;
}
a.link_h:hover {
	border-bottom: 1px solid transparent;
}
.slider1_inside_txt {
	font-family: 'Core Sans A 45';
	font-size: 20px;
	padding-top: 27px;
	color: #5c5c5c;	
}
#slider1 .owl-dots {
	position: absolute;
	bottom: 30px;
	width: 930px;
	left: 50%;
	margin-left: -465px;
	padding: 0 30px;	
}
#slider1 .owl-dot {
	width: 30px;
	height: 30px;
	font-family: 'Core Sans A 65';
	font-size: 14px;
	border-radius: 999px;
	float: left;
	line-height: 30px;
	text-align: center;
	border:1px solid #e6e6e6;
	background-color: #fff;
	color: #a3a3a3;

	margin-right: 248px;
}
#slider1 .owl-dot:last-child {
	margin-right: 0;
}
#slider1 .owl-dot.active {
	background-color: #2468b7;
	color:#fff;
	border:none;
}
.date_mark {
	padding: 21px 0px 20px 0px;
	display: block;
	color: #464646;
}
.link_h.link_news,.news_txt,.contact_txt_icon,.contact_link1 {
	font-family: 'SF UI  Text Regular';

}
.link_h.link_news {
	font-size: 18px;
}
.news_txt{
	padding: 20px 80px 50px 0px;
	font-size: 16px;
}
.news_head_txt {
padding-top: 30px;

}
.news_head_txt.contact_head_txt {
	text-align: left;

}
.social_butns_header.contacts {
	float: right;
	margin: 0;

}
.contact_txt_icon {
	font-size: 16px;
	padding-top: 23px;
}
.contact_txt_icon::before {
	content: url(../img/contact_txt_icon.png);
	padding-right: 10px;
}
.contact_txt_icon.icon2::before {
	content: url(../img/contact_txt_icon2.png);
}
.contact_links_block {
	font-size: 16px;
	padding-top: 20px;
}
.contact_link1 {
	padding-bottom: 5px;
	margin-right: 57px;
}
.contact_link1:hover {
	border-bottom: 1px solid transparent;
}
.contact_link1.link2 {
	border-bottom-style: dotted;
	color: #e9943a;
	border-bottom-color: rgba(233,148,58,0.3); 
}
.contact_link1:last-child {
	margin-right: 0;
}
.contact_link1:hover {
	border-bottom-color: transparent; 
}

.news_wrap.contact_wrap {
	padding-top: 108px;
}
.news_wrap.contact_wrap2 {
	padding-top: 78px;
}
.news_contacts_wrap {
	background:url(../img/news_contacts_wrap1.png) left bottom no-repeat,url(../img/news_contacts_wrap.png) right bottom no-repeat;
}
.uslugi_wrap {
	background:url(../img/uslugi_wrap.png) no-repeat;
	background-size: cover;
}
ul.uslugi_ul{
	text-align: center;
	padding-bottom: 25px;
}
ul.uslugi_ul li{
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	width: 176px;
	height: 176px;
	vertical-align: top;
	padding-top: 83px;
	cursor: pointer;
	position: relative;
	text-align: center;
	font-family: 'SF UI  Text Regular';
	font-size: 16px;

}
ul.uslugi_ul li a.uslugi_li_link_absolute{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding:0;
	border: none;
	padding-top: 82px;

}
ul.uslugi_ul li a.uslugi_li_link_absolute p {
	padding-bottom: 5px;
	display: inline;
	border-bottom:1px solid rgba(36,104,183,0.3);
}
ul.uslugi_ul li a.uslugi_li_link_absolute:hover p{
	border-bottom:none;

}
ul.uslugi_ul li a.uslugi_li_link_absolute:hover{
	border: none;

}
ul.uslugi_ul li:hover{
	background:url(../img/broken-tooth.png) no-repeat center 19px !important;
}
ul.uslugi_ul li.li1:hover{
	background:url(../img/molar.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li2:hover{
	background:url(../img/X_RAY.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li3:hover{
	background:url(../img/tooth-with-braces.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li4:hover{
	background:url(../img/uslugi_ul6.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li5:hover{
	background:url(../img/tooth.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li6:hover{
	background:url(../img/fake-tooth.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li7:hover{
	background:url(../img/syringe.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li8:hover{
	background:url(../img/crowned-tooth.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li9:hover{
	background:url(../img/tooth-with-diamond.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li10:hover{
	background:url(../img/scalpel-1.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li11:hover{
	background:url(../img/girl.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li12:hover{
	background:url(../img/boy-with-sleeping-face.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}
ul.uslugi_ul li.li13:hover{
	background:url(../img/list.png) no-repeat center 19px !important;
	background-color: rgba(36,104,183, 0.7) !important;
}

ul.uslugi_ul li a{
	line-height: 32px;
}
ul.uslugi_ul li:hover {
	color: #fff;
	background-color: rgba(36,104,183, 0.7) !important;
	-webkit-transition: background-color ease 0.5s;
    -moz-transition: background-color ease 0.5s;
	transition: background-color ease 0.5s;	
}
ul.uslugi_ul li:hover a{
	color: #fff;
	-webkit-transition: color ease 0.5s;
    -moz-transition: color ease 0.5s;
	transition: color ease 0.5s;		
	border-bottom: 1px solid transparent;
}
a.link_h.link_uslugi {
	margin: 25px auto;
	display: inline-block;

}
a.doctor_appoint {
	font-size: 16px;
	font-family: 'Core Sans A 45';
	color: #e9943a;
	position: absolute;
	border-color:#f8dfc4;
	line-height: 30px;
	top: 40px;
	right: 136px;

}
a.doctor_appoint:hover {
	border-bottom: 1px solid transparent;
}
.doctor_appoint_wrap h2{
	text-align: left;
}
.link_h.doctor_appoint_link {
	margin: 25px 0;
	display: inline-block;
}
.doctor_appoint_wrap {
	position: relative;
}
.doctor_appoint_img {
	max-width: 174px;
	max-height: 271px;
	margin:0 auto;
	margin-bottom: 15px;
}
.doctor_appoint_img img{
	width: 100%;
	height: 100%;
}
#slider2 {
	text-align: center;
}
#slider2 .owl-dots,#slider2 .owl-nav {
	display: none;
}
#slider2 .link_h.link_news,#slider4 .link_h.link_news{
	text-align: center;
}
#slider2 .doctor_apoint_txt,#slider4 .doctor_apoint_txt {
	font-family: 'SF UI  Text Regular';
	color:#464646;
	font-size: 14px;
	text-align:center; 
	padding-top: 15px;
}
.doctor_appoint_wrap .next_button,.doctor_appoint_wrap .prev_button {
	width: 34px;
	height: 34px;
	border: 1px solid #e9943a;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	top: 36px;
	right: 0;
	cursor: pointer;


}
.doctor_appoint_wrap .fa{
	color: #e9943a;
	font-size: 20px;
	line-height: 32px;
}
.doctor_appoint_wrap .prev_button
{
    margin-right: 45px;
}
.link_h_wrap {
	text-align: center;
}
.link_h.s_comp {
	margin:50px 0;
	display: inline-block;
}
.s_comp_ul {
	padding-bottom: 50px;
	
}
.s_comp_ul li{
	display: inline-block;
	
}
.s_comp_ul li a{
	display: block;
	width: 175px;
	height: 110px;
	border:none;
	cursor: pointer;
}
.link_s_comp{
	background: url(../img/link_s_comp_full.png) no-repeat 0px 0px;

}
.link_s_comp:hover{
	background-image: url(../img/link_s_comp_full_hover.png);

}
.link_s_comp.link_s_comp2{
	background-position: -195px 0px;
}
.link_s_comp.link_s_comp3{
	background-position: -380px 0px;
}
.link_s_comp.link_s_comp4{
	background-position: -566px 0px;
}
.link_s_comp.link_s_comp5{
	background-position: -765px 13px;
}
.link_s_comp.link_s_comp6{
	background-position: -951px 0px;
}
.link_s_comp.link_s_comp7{
	background-position: 0px -108px;
}
.link_s_comp.link_s_comp8{
	background-position:-195px -108px;
}
.link_s_comp.link_s_comp9{
	background-position: -386px -108px;
}
.link_s_comp.link_s_comp10{
	background-position: -566px -108px;
}
.link_s_comp.link_s_comp11{
	background-position: -765px -96px;
}
.link_s_comp.link_s_comp12{
	background-position: -951px -108px;
}
section.underline {
	border-bottom: 1px solid #c3d8f1;
}
footer {
	border-top: 1px solid rgba(36,104,183,0.3);
}
.social_butns_header.footer_social {
	margin:0;
	margin-top: 25px;
}
.social_butns_header.footer_social .social_link {
	background-color: #397fd1;
}
.social_butns_header.footer_social span {
	font-size: 16px;
	color: #9b9b9b;
	font-family: 'SF UI  Text Regular';
	padding-left: 20px;
	line-height: 40px;
}
.contacts_header.footer_contacts {
	text-align: left;
	float: none;
	padding-bottom: 25px;
	padding-top: 25px;
}
.footer_addr_block {
	font-family: 'SF UI  Text Regular';
	padding-bottom: 40px;
}
.footer_addr_block .footer_addr_block_txt {
	color: black;
	font-size: 18px;
}
.footer_addr_block .footer_addr_block_txt.txt2 {
	color: #777777;
	font-size: 16px;
}
.footer_map_block {
	padding-bottom: 50px;
}
.footer_map_block .map_head_link{
	padding-bottom: 25px;
	font-family: 'SF UI  Text Medium';
	font-size: 18px;
	display: block;
	border:none;
	color: #397fd1;
}
.footer_map_block .map_link{
	font-family: 'SF UI  Text Regular';
	font-size: 15px;
	color: #878787;
	display: block;
	border:none;	
}
.footer_map_block_wrap {
	padding-top: 33px;
}
.feedb_date,.feedb_txt {
	font-family: 'SF UI  Text Regular';	
	font-size: 14px;
	color: #747474;
	line-height: 34px;
}
.feedb_txt {
	line-height: 1.6;
	overflow: hidden;
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 
	height: 116px;
	margin: 15px 0;
	color: #464646;
	position: relative;

}
.feedb_txt:after {
	content: "...";
	position: absolute;
	top: 100px;
	left: 0;

}
#slider3 .owl-dots{
	margin-top: 10px;
}
#slider3 .owl-dots .owl-dot {
	width: 12px;
	height: 12px;
	border-radius: 99px;
	display: inline-block;
	margin:5px;
	background-color: #b0cced;
}
#slider3 .owl-dots .owl-dot:first-child {
	margin-left: 0;
}
#slider3 .owl-dots .owl-dot.active {
	background-color: #e9943a;
}
.cd-horizontal-timeline .events-wrapper::before,.cd-horizontal-timeline .events-wrapper::after {
	display: none;
}
.cd-horizontal-timeline .events-wrapper {
	margin: 0;
	margin-left: -131px;
}
.cd-horizontal-timeline .events {
	height: 8px;
}
.cd-horizontal-timeline .events a {
	border-bottom: none;
	width: 30px;
	height: 30px;
	font-family: 'Core Sans A 65';
	font-size: 14px;
	background-color: #fff;
	color: #a3a3a3;
	border: 1px solid #e6e6e6;
	border-radius: 99px;
	padding: 0;
	bottom: -8px;			
	line-height: 22px;
	text-align: center;
	bottom: -12px;
	line-height: 27px;


}
.cd-horizontal-timeline .events a.selected {
	background-color: #2468b7;
	border:none;
	color: #fff;	
}
.cd-horizontal-timeline .events .older-event {
	background-color: #2468b7;
	border:none;
	color: #fff;	
}
.cd-horizontal-timeline .events a::after {
	display: none;
}
.cd-horizontal-timeline .filling-line {
	background-color: #2468b7;
}
.cd-timeline-navigation {
	display: none;
}
.cd-horizontal-timeline .events-content li > * {
    max-width: 100%;
}
.cd-horizontal-timeline .events-content li {
	padding: 0;
}
.cd-horizontal-timeline .timeline {
bottom: 0px;
z-index: 10;
position: absolute;
width: 499px;
max-width: 100%;
left: 50%;
margin-left: -571px;
overflow: hidden;
}
.cd-horizontal-timeline.loaded {
	position: relative;
}
.mobile_slider {
	display: none;
}
/********************EMPLOYEE***********************/
.contacts_header.header2{
	width: auto;
	max-width: 100%;
	margin-top: 15px;
}
.contacts_header.header2 a.contacts_phone {
	display: inline-block;
	margin-right: 25px;	
	border-bottom: 1px dotted rgba(101,101,101,0.3);
}
.contacts_header.header2 a.contacts_phone:hover {
	border-bottom: 1px dotted transparent;
}
.nav_ul a.active{
	font-family: 'Core Sans A 65';
	border-bottom: 2px solid #2468b7;
}
.navigation ul.nav_ul li a.active:hover{
	border-bottom: 2px solid #2468b7;
	transition: none;
}
.social_butns_header.soc_header2 {
	margin-top: 15px;
	margin-left: 30px;
}
.social_butns_header.contacts_social {
	margin: 0;
	float:none;
	display: inline-block;	
	margin-left: 25px;
}
.social_butns_header.contacts_social .social_link{
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	margin-right:7px;	

}

.doctor_appoint.employee_appoint {
	float: right;
	position: relative;
	top: 0;
	border-bottom: 1px solid rgba(233,148,58,0.3);
	right: 0;
}
ul.employee_filter {
	font-family: 'SF UI  Text Regular';	
	font-size: 14px;
	padding: 30px 0;
}
ul.employee_filter li {
	padding: 10px;
	padding-right: 40px;

	border:1px solid transparent;
	border-radius: 10px;
	display: inline-block;
	margin-right: 10px;
}
ul.employee_filter li.active {
	border:1px solid rgba(36,104,183,0.3);
	background: url(../img/employee_filter.png) no-repeat right center;
}
ul.employee_filter li a{
	border-bottom: 1px dotted rgba(36,104,183,0.3);
}
ul.employee_filter li a:hover{
	border-bottom: 1px dotted transparent;
}
ul.employee_filter li.active a{
	border-bottom: none;
}
ul.employee_filter li.drop_filter.active{
	border:1px solid transparent;
	background: none;	
}
ul.employee_filter li.drop_filter.active a {
	border-bottom: 1px dotted rgba(36,104,183,0.3);

}
.employee_block {
	min-height: 300px;
	position: relative;
	padding: 15px;
	border: 1px solid transparent;
	margin-bottom: 30px;

}
.employee_block:hover {
	border: 1px solid rgba(36,104,183,0.3);
	border-radius: 10px;
	-webkit-transition: border ease 0.3s;
	-moz-transition: border ease 0.3s;
	transition: border ease 0.3s;


}
.employee_photo {
	width: 174px;
	height: 271px;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	float:left;
}
.employee_info {
	float: left;
	max-width: 60%;
	padding-left: 20px;
}
.employee_txt {
	font-family: 'SF UI  Text Regular';
	font-size: 14px;
	color: #8c8c8c;
	padding-bottom: 15px;
}
.employee_txt.txt2 {
	font-family: 'SF UI  Text bold';
	font-size: 16px;
	color: #464646;
}
.employee_txt.txt3 {
	max-height: 82px;
	color: #464646;
	overflow: hidden;

}
.doctor_appoint.employee_appoint.employee_block_link {
	float: none;
	display: inline-block;
	margin-top: 15px;
	font-family: 'Core Sans A 65';
	
}
/********************EMPLOYEE END***********************/



/********************USLUGI***********************/
.standart_text.last_child {
	padding-bottom: 40px;
}
.uslugi_block {
	padding: 20px;
	margin-bottom: 30px;
}
.uslugi_block:hover{
	background-color: #5086c5;
	-webkit-transition: all ease 0.3s;
-moz-transition: all ease 0.3s;
transition: all ease 0.3s;
border-radius: 5px;

}
.uslugi_block:hover a{
	font-family: 'SF UI  Text Semibold';
	color: #fff;
	border-bottom: none;
	font-size: 20px;
	margin-bottom: -11px;
	display: block;
}
.uslugi_block:hover .standart_text{
	color: #fff;

}
.standart_text {
	font-family: 'SF UI  Text Regular';
	font-size: 16px;
	padding-top: 30px;
}
.standart_text.txt2 {
	padding-top: 20px;	
}
.uslugi_img {
	float: left;
	width: 54px;
	margin-top: 10px;
	height: 64px;
	background-position: center !important;
}
.uslugi_txt{
	max-width: 76%;
	float: left;
	padding-left: 20px;

}
.uslugi_link {
	font-size: 16px;
	font-family: 'SF UI  Text Regular';
}
.uslugi_block:hover .uslugi_img {
	background-image: url(../img/broken-tooth.png) !important;
}
.uslugi_block:hover .uslugi_img.img2 {
	background-image: url(../img/molar.png) !important;
}
.uslugi_block:hover .uslugi_img.img3 {
	background-image: url(../img/X_RAY.png) !important;
}
.uslugi_block:hover .uslugi_img.img4 {
	background-image: url(../img/tooth-with-braces.png) !important;
}
.uslugi_block:hover .uslugi_img.img5 {
	background-image: url(../img/uslugi_ul6.png) !important;
}
.uslugi_block:hover .uslugi_img.img6 {
	background-image: url(../img/tooth.png) !important;
}
.uslugi_block:hover .uslugi_img.img7 {
	background-image: url(../img/fake-tooth.png) !important;
}
.uslugi_block:hover .uslugi_img.img8 {
	background-image: url(../img/syringe.png) !important;
}
.uslugi_block:hover .uslugi_img.img9 {
	background-image: url(../img/crowned-tooth.png) !important;
}
.uslugi_block:hover .uslugi_img.img10 {
	background-image: url(../img/tooth-with-diamond.png) !important;
}
.uslugi_block:hover .uslugi_img.img11 {
	background-image: url(../img/scalpel-1.png) !important;
}
.uslugi_block:hover .uslugi_img.img12 {
	background-image: url(../img/girl.png) !important;
}
.uslugi_block:hover .uslugi_img.img13 {
	background-image: url(../img/boy-with-sleeping-face.png) !important;
}
/********************USLUGI END***********************/



/********************USLUGI_single***********************/

.navigation.vertical ul.nav_ul {
	text-align: left;

}
.navigation.vertical ul.nav_ul li{
	display: block;
	font-size: 16px;
	padding: 12px;
	padding-right: 0;
}
.navigation.vertical ul.nav_ul li a{
	line-height: 29px;
}
.usluga_single_img {
	width: 100%;
	min-height: 564px;
	background-size: cover;
	margin-top: 30px;
}
.usluga_single_ul {
	padding-top: 30px;
	font-size: 16px;
	font-family: 'SF UI  Text Regular';	
}
.usluga_single_ul li{
	padding: 12px 100px 12px 15px;
	margin-left: 65px;
	list-style-image: url(../img/usluga_single_list.png);
}
.usluga_single_table {
	width: 100%;
	margin-top: 15px;
	font-size: 16px;
	font-family: 'SF UI  Text Regular';
}
.white_row.blue_row{
	background-color: #dee8f4;
}
.white_row span{
	display: inline-block;
	padding: 12px;
	padding-top: 8px;
	padding-bottom: 8px;

}
.white_row span.left_cell{
	float: left;
}
.white_row span.right_cell{
	float: right;
}
#slider4 {
	text-align: center;

}
.doctor_appoint_wrap.uslugi_slider {
	margin:30px 0;
}

/********************USLUGI_single END***********************/



/********************EMPLOYEE_single END***********************/

.grey_txt {
	color: #8c8c8c;
}
.light_grey_txt {
	color: #d7d8d8;
}
.no_padding {
	padding-top: 10px;
}
.more_padding {
	padding-top:60px; 
}
.usluga_single_ul.ul_no_margin li{
	margin-left: 17px;
}
.doctor_img_big {
	width: 100%;
	height: 370px;
	margin: 12px 0;
}
.sertif_gal_link:first-child {
	display: inline-block;
}
.sertif_gal_link {
	display: none;
	font-family: 'SF UI  Text bold';
	font-size: 18px;
	color: #656565;
	border-bottom: 1px dotted rgba(101,101,101,0.3);
}
.lb-data .lb-caption {
	display: none !important;
}
#lbCenter, #lbBottomContainer {
	overflow: visible;
}
.lb-data .lb-number {
	position: absolute;
	margin-left: -4px;
	top: -25px;
	color: white;
	font-family: 'Core Sans A 65';
	font-size: 19px;
}
.lb-nav a.lb-prev,.lb-nav a.lb-next {
	width: 57px;
	height: 57px !important;
	top: 50%;
	position: absolute;
	opacity: 1;
}
.lb-nav a.lb-prev,.lb-nav a.lb-prev:hover {
	background: url(../img/prev_doctor.png) no-repeat;
	border: none;
	margin-left: -90px;
}
.lb-nav a.lb-next,.lb-nav a.lb-next:hover {
	background: url(../img/next_doctor.png) no-repeat;
	border: none;
	margin-right: -90px;
}
/********************EMPLOYEE_single END***********************/

/********************PACIENT***********************/
.pacient_link_block {
	text-align: center;
	margin-bottom: 340px;
margin-top: 130px;
	background-position:top center !important;

}
.pacient_link {
	display: inline-block;
	padding-top: 60px;
	margin:0 auto;
}
.pacient_menu {
	text-align: right;

}
.pacient_menu li{
	display: inline-block;
	padding: 14px;
	font-family: 'Core Sans A 45';
	font-size: 16px;

}
.pacient_menu li:last-child{
	padding-right:0; 

}
.dotted_link {
	border-bottom:1px dotted rgba(36,104,183,0.3);
}
.dotted_link:hover {
	border-bottom:1px dotted transparent;
}
.border_top.first{
	margin-top: 30px;
}
.border_top {
	border-top: 1px solid #d0d0d0;
	padding-top: 10px;
}
.pacient_desc {
	font-family: 'SF UI  Text LightItalic';
	font-size: 15px;
	padding-top: 13px;
	padding-bottom: 9px;
	color: #787878;
}
.white_row.border.first{
	margin-top: 30px;
}
.white_row.border {
	border-top: 1px solid #d0d0d0; 
}
.white_row.border.border_last {
	border-bottom: 1px solid #d0d0d0; 
	margin-bottom: 90px;
}
.usluga_single_table.no_margin {
	margin-top: 0;
}
.white_row.border span.right_cell {
	padding-right: 0;
}
.recomend_block {
	position: relative;
	width: 98%;
	height: 421px;
	margin-top: 25px;
	background-size: cover  !important;
}
.recomend_block a.recomend_block_link{
	position: absolute;
	max-height: 100px;
	height: 100%;
	display: block;
	font-family: 'Core Sans A 35';
	color: #fff;
	font-size: 22px;
	bottom: 0;
	border: none;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	background-color: rgba(36,104,183,0.9);
	width: 100%;
	-webkit-transition:max-height 0.7s ease-in-out,padding-top 0.7s ease-in-out;
	transition:max-height 0.7s ease-in-out,padding-top 0.7s ease-in-out;
}
.recomend_block:hover a.recomend_block_link{
	border: none;
	max-height: 421px;
	-webkit-transition:max-height 0.7s ease-in-out,padding-top 0.7s ease-in-out;
	transition:max-height 0.7s ease-in-out,padding-top 0.7s ease-in-out;
	padding-top: 31%;
	font-family: 'SF UI  Text BoldG3';
	font-size: 20px;
}
.standart_text.italic_text {
	font-family: 'SF UI  Text LightItalic';
}
.numbers_list {
	list-style-type:decimal;
	margin: 30px 0px 0px 17px;
}
.numbers_list li{
	margin: 20px 0px;
	padding-left: 20px;

}
.numbers_list li {
	font-size: 22px;	
	color: #397fd1;
	font-family: 'SF UI  Text Semibold';
}
.numbers_list li span{
	font-size: 16px;	
	font-family: 'SF UI  Text Regular';
	color: #333;
}
}
.numbers_list li:last-child{
	margin-bottom:0px;
}

/********************PACIENT END***********************/


/********************REVIEW END***********************/
.review_block {
	padding: 80px 0;
	padding-bottom: 0;
}
.show_more_block {
	text-align: center;
	padding: 50px 0;
}
.show_more {
	color:black;
	font-family: 'SF UI  Text bold';
	font-size: 18px;
	border-bottom: 1px dotted rgba(101,101,101,0.3);
}
.show_more:hover {
	border-bottom: 1px dotted transparent;
}
.tabs__content {
	display: none;
	margin-bottom: 50px;
}
.tabs__content.active {
	display: block;
}
.tabs_caption li{
	display: block;
	min-height: 175px;
	cursor: pointer;
	width: 97%;
}
.tabs_caption li.active{
	display: block;
	background-color: #f3f3f3;
	min-height: 175px;
	border-radius: 5px;
	transition: background-color 0.3s;
}
.tabs_caption li:first-child{
	margin-top: 100px;

}
.tabs_caption li:last-child{
	margin-bottom: 50px;

}
.news_wrap.contacts_wrap {
	padding-left: 25px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.news_wrap.contacts_wrap .contact_txt_icon{
	padding-top: 0;
}
.contact_content {
	height: 730px;
}
/********************REVIEW END***********************/


/********************MODAL ***********************/

#wrapper_popup{
	display: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
	min-width: 320px;
}

#background_popup {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;
}
.popup {
    display: none;
    width: 780px;
    z-index: 299;
    background: #FFF none repeat scroll 0% 0%;
    /*box-shadow: 0px 0px 8rem rgba(0, 0, 0, 0.2);*/
	position:absolute;
	left: 50%;
	margin-left:-390px;
	border-radius: 5px;
	margin-top: 5%;
	font-family: 'SF UI  Text Regular';
}
.popup_close {
    position: absolute;
	top: 20px;
	width: 22px;
	height: 22px;
	right: 20px;

    cursor: pointer;
    z-index: 110;
	background: url(../img/disk_pappers_popup_close.png) no-repeat;
	border:none;
}
.popup_close:hover {
	border:none;
}
.popup_block {
	padding: 30px;
	padding-top: 45px;
}
.popup_block:last-child {
	padding: 30px;
	padding-top: 0;
}
.popup_block.padding_bottom {
	padding-bottom: 0px;
}
.popup_block_h3 {
	float: left;
}
input.css-checkbox[type="checkbox"]:checked + label.css-label,input.css-checkbox[type="checkbox"] + label.css-label {
	float: right;
	max-width: 50%;
	margin-top: 17px;
	font-size: 12px;
}
.politica_link {
	font-size: 12px;
	padding-bottom: 0;
}
.popup_border_bottom {
	padding-bottom: 10px;
	padding-top: 10px;
	height: 1px;
	border-top: 1px solid rgba(36,104,183,0.3);
}
.popup_input_txt {
	font-size: 14px;
	color: #2468b7;
	width: 330px;
	border:1px solid rgba(36,104,183,0.3);
	padding: 12px;
	margin-bottom: 23px;	
	position: relative;	
}
.popup_input_txt:focus {
	border:1px solid #2468b7;
}
.popup_form {
	float: left;
	width: 49%;
}
.popup_form_right {
	float: left;
	width: 49%;
	position: relative;
}
.popup_form_textarea {
	border:1px solid rgba(36,104,183,0.3);
	padding: 12px;
	color: #2468b7;
	text-align: left;
	resize: none;
	width: 100%;
	max-height: 187px;

}
.popup_input_label,.popup_textarea_label {
	font-size: 12px;
	color: #2468b7;
	position: absolute;
	left: 30px;
	margin-top: -20px;
}
.popup_textarea_label {
	left: 0;

}
.captcha_block {
	float: right;
	width:176px;
	height: 53px;
}
.button_popup {
	float: right;
	width: 153px;
	height: 43px;
	margin-right: 13px;
	border:1px solid #e9943a;
	color:#e9943a;
	background: none;
	border-radius: 5px;
}
/********************MODAL END***********************/



