.selfb219,.selfb225,.selfb202,.selfb204,.selfb217,.selfb312,.selfb325{background-size:cover!important;}
.selfb219 p,.selfb225 p,.selfb202 p,.selfb204 p,.selfb217 p,.selfb312 p,.selfb325 p{background:#e0b077!important;border-radius:8px!important;color:#fff!important;}
.selfb219 .blp,.selfb225 .blp,.selfb202 .blp,.selfb204 .blp,.selfb217 .blp,.selfb312 .blp,.selfb325 .blp{color:#c99e6b!important;}
.frf219,.frf225,.frf202,.frf204,.frf217,.frf312,.frf325{display:block!important;}
