*{
	margin: 0px;
	padding: 0px;
	outline:none;
}
a, hover{
	text-decoration:none;
	color:#fff;
}
ul{
	list-style:none;
}
body, html{
	background:url(../img/bg_all.png) no-repeat center top;
	height:1200px;
	min-width: 1200px;
	font-family: 'Roboto';
	font-weight: 300;
	color:#fff;
	line-height: 1.5;
	font-size: 16px;
}
h1 {
	font-size: 	48px;
	clear: both;
	text-align: center;
	font-weight: 300;
	padding-top: 89px;
	padding-bottom: 32px;

}
h2 {
	font-style: 24px;
	text-align: center;
	font-weight: 300;

}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input::-webkit-input-placeholder {color:#ffffff;opacity: 1}
input::-moz-placeholder          {color:#ffffff;opacity: 1}
input:-moz-placeholder           {color:#ffffff;opacity: 1}
input:-ms-input-placeholder      {color:#ffffff;opacity: 1}

.wrap {
	background: url(../img/bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 708px;
	-webkit-box-shadow: inset 0px -30px 19px -3px #1c121b;
	-moz-box-shadow: inset 0px -30px 19px -3px #1c121b;
	box-shadow: inset 0px -30px 19px -3px #1c121b;	
}
.wrap.wrap2 {
	background: #1e1723;
	-webkit-box-shadow: inset 0px 12px 19px -4px #1c121b;
	-moz-box-shadow: inset 0px 12px 19px -4px #1c121b;
	box-shadow: inset 0px 12px 19px -4px #1c121b;
	min-height: 330px;
}
.content_block {
	width: 1106px;
	margin:0 auto;
	position: relative;
}
.head_left {
	float: left;
	padding-top: 15px;
padding-left: 10px;
max-width: 356px;

}
a.logo {
	font-size: 59px;
	display: inline-block;

}
a.logo span{
	padding-right: 14px;
	color:#f82812;
}
.phone_block {
	margin-top: 18px;
	margin-left: -57px;
	background-color: rgba(37,30,40,0.4);
	width: 295px;
	margin-bottom: 42px;
}
.phone_block a{
	font-size: 21px;
	display: block;

}
.phone_block a.phone_block_email{
	font-size: 18px;
}
.phone_block_in {
	padding: 6px 0px 7px 27px;
	margin-left: 60px;
	border-left:4px solid #f82812;
}

.head_right {
	float: right;
	width: 286px;
	height: 391px;
	background-color: rgba(37,30,40,0.87);
	margin-right: 50px;
}
.form_avatar {
	display: block;	
	background:url(../img/mrN.png) no-repeat;
	width: 43px;	
	height: 43px;	
	margin: 0 auto;
	margin-bottom: 30px;
}
form {
	padding: 40px 0px 0px 0px;
}
form .form_input {
	background-color: rgba(148,145,152,0.9);
	font-size: 	18px;
	border:none;
	color:white;
	margin:0 auto;
	width: 222px;	
	padding: 3px 15px 3px 15px;
	margin-bottom: 31px;
	display: block;
}
form .form_input.margin{
	margin-bottom: 37px;
}
form .form_input.submit {
	width: 100%;
	font-size: 	21px;
	background-color: #f82812;
	line-height: 40px;
	padding: 0;	
	margin-bottom: 15px;
	text-align:center;	
	cursor: pointer;
}
form a.form_link {
	display: block;	
	margin-bottom: 22px;
	text-align: center;
	cursor:pointer;
}
form a.form_link.link2 {
	font-size: 18px;
}
.plan_block_wrap {
	position: absolute;
	top: -125px;
}
.plan_block {
	float: left;
	width: 24.42%;
	text-align: center;
	margin-right: 146px;
	position: relative;
}
.plan_block:last-child {
	margin-right: 0px;
}
.plan_block a.plan_img {
	width: 201px;
	height: 197px;
	margin:0 auto;
	display: block;
	border-radius: 9999px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: border ease 0.5s;
}
.plan_block a.plan_img.active,.plan_block a.plan_img:hover  {
	border: 2px solid #dd2614;
	transition: border ease 0.5s;
}
.plan_block .standart_txt {
	text-align: center;
	font-size: 14px;
}
.plan_block_link {	
	margin-top: 16px;
	margin-bottom: 35px;
}
/*.plan_block a.plan_block_link_absolute {
	display: block;
	position: absolute;
	height: 50%;
	width: 100%;
	border:none;
}
.plan_block a.plan_block_link_absolute:hover {
	border:none;
}*/
.plan_block a {
	font-size: 24px;
	font-weight: 300;
	display: inline;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
	transition: border-bottom ease 0.5s;
}
.plan_block a:hover,.plan_block a.active {
	border-bottom: 2px solid #dd2614;
	transition: border-bottom ease 0.5s;
}
footer {
	background: #dd2614;
	min-height:164px; 
	padding-top: 19px;
}
.logo_footer {
	font-size: 22px;
	float: left;
	padding-right: 89px;
}
.footer_block {
	float: left;
	max-width: 105px;
	padding-right: 177px;
}
.footer_block .footer_link {
	font-size: 14px;
	display: block;
	padding: 5px 0px 0px 0px;

}
.footer_block.footer_block2 {
	padding-right: 76px;
	padding-top: 8px;
	max-width: 310px;

}

.social_link {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid white;
	margin: 7px;
	border-radius: 999px;
	font-size: 22px;
	text-align: center;
	line-height: 40px;

}
.fa {
    color: white;
}
.footer_block .standart_txt {
	font-size: 11px;
}
.footer_block.footer_block3 {
	padding-right: 0;
    max-width: 214px;
    padding-top: 12px;
    line-height: 14px;

}
/********************MODAL ***********************/

#wrapper_popup{
	display: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
	min-width: 320px;
}

#background_popup {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
}
.popup {
    display: none;
    width: 540px;
    z-index: 299;
    background: rgba(30,23,35,0.9);
	position:absolute;
	left: 50%;
	margin-left:-350px;
	padding: 40px 80px;
}
.popup form{
	padding:0px;
}
.popup form .form_avatar{
	margin-bottom: 23px;
}
.popup_close {
    position: absolute;
	top: 20px;
	width: 22px;
	height: 22px;
	right: 20px;

    cursor: pointer;
    z-index: 110;
	background: url(../img/disk_pappers_popup_close.png) no-repeat;
	border:none;
}
.popup_block {
	padding: 30px;
	padding-top: 45px;
}
.standart_txt.popup_txt_head {
	text-align:center;
	font-size: 14px;
	padding-bottom: 16px;
}
.standart_txt.popup_txt_head.last {
	font-size: 18px;
}
.popup form .form_input {
	margin-bottom: 0;
    width: 94.6%;
}
.select2-container .select2-selection--single {
	height: 30px;
}
.popup_form_block label{
	float: left;
	padding-top: 5px;

}
.select2-container{
	float: right;
	min-width: 389px;

}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	color:#fff;
}
.select2-container--default .select2-selection--single {
background-color: rgba(148,145,152,0.9);
border: 1px solid #dd2614;
border-radius: 0;
}
.select2-dropdown {
background-color: rgba(148,145,152,0.9);
border-: 1px solid #dd2614;
border-radius: 0px;
color:#fff;

}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
background-color: rgba(68,62,78,0.9);	
}
.select2-container--default .select2-results__option[aria-selected="true"] {
background-color: rgba(68,62,78,0.9);		
}
.popup_form_block {
	margin-bottom: 30px;
}
.date_open {
	float: right;
	width: 267px;
}
.date_open .form_input{
	float: left;
	text-align: center;
	margin-right: 20px;
	width: 32px !important;


}
.date_open .form_input:last-child{
	margin-right: 0;
	width: 73px !important;

}
.form_input.form_input2 {
	width: 109px !important;
	float: right;

}
.form_input.form_input3 {
	width: 42.2% !important;
	float: left;
	margin-right: 24px;
}
.form_input.form_input3:last-child {
	margin-right: 0;

}
label.popup_form_check_label {
	float: none;
	font-size: 18px;
	vertical-align: top;
	padding-left: 12px;
}
.popup_form_block.center {
	text-align:center; 
	margin-top: 43px;
	margin-bottom: 19px;

}
.popup_form_check_label_link {
	color: #dd2614;
	font-weight: 400;
	cursor: pointer;
	vertical-align: top;
	transition: border-bottom ease 0.5s;
	border-bottom: 1px solid transparent;
}
.popup_form_check_label_link:hover {
	color: #dd2614;
	border-bottom: 1px solid #dd2614;
}
.popup_form_check {
	display: none;
}
.popup_form_check_link {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	cursor: pointer;
	display: inline-block;
	border-radius:9999px ;
}
.popup_form_check_link.active {
	width: 32px;
	height: 32px;	
	border:none;
	background: url(../img/yes.png) no-repeat;
}
.popup form .form_input.submit {
	background-color: #f82812;
	width: 100%;
	margin-bottom: 38px;
}

.standart_txt.popup_txt_head.padding {
	padding-right: 80px;
padding-left: 80px;
padding-bottom: 30px;
}
/********************MODAL END***********************/