*{
	margin: 0px;
	padding: 0px;
	outline:none;
}
a, hover{
	text-decoration:none;
	color:#fff;
}
ul{
	list-style:none;
}
body, html{
	min-width: 1200px;
	font-family: 'Roboto';
	font-weight: 300;
	color:#fff;
	line-height: 1.5;
	letter-spacing: -0.1px;
	font-size: 16px;
}
h1 {
	font-size: 	48px;
	clear: both;
	text-align: center;
	font-weight: 300;
	padding-top: 89px;
	padding-bottom: 32px;

}
h2 {
	font-style: 24px;
	text-align: center;
	font-weight: 300;

}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input::-webkit-input-placeholder {color:#ffffff;opacity: 1}
input::-moz-placeholder          {color:#ffffff;opacity: 1}
input:-moz-placeholder           {color:#ffffff;opacity: 1}
input:-ms-input-placeholder      {color:#ffffff;opacity: 1}

input.white_input::-webkit-input-placeholder {color:#1d1d1b;opacity: 1}
input.white_input::-moz-placeholder          {color:#1d1d1b;opacity: 1}
input.white_input:-moz-placeholder           {color:#1d1d1b;opacity: 1}
input.white_input:-ms-input-placeholder      {color:#1d1d1b;opacity: 1}

textarea::-webkit-input-placeholder {color:#ffffff;opacity: 1}
textarea::-moz-placeholder          {color:#ffffff;opacity: 1}
textarea:-moz-placeholder           {color:#ffffff;opacity: 1}
textarea:-ms-input-placeholder      {color:#ffffff;opacity: 1}
textarea.client_form_textarea.width::-webkit-input-placeholder {color:#1d1d1b;opacity: 1}
textarea.client_form_textarea.width::-moz-placeholder          {color:#1d1d1b;opacity: 1}
textarea.client_form_textarea.width:-moz-placeholder           {color:#1d1d1b;opacity: 1}
textarea.client_form_textarea.width:-ms-input-placeholder      {color:#1d1d1b;opacity: 1}
.red_txt {
	color: #f82812;
	font-weight: 400;
}
.red_txt_italic {
	font-style: italic;
}
.error {
	border: 1px solid #f82812;
	display: inline-block;
	float: left;
}
.red_link {
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;
	transition: border-bottom ease 0.3s;
}
.red_link:hover {
	border-bottom: 1px solid #f82812;
	padding-bottom: 2px;
}
.wrap {
	background: url(../img/bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 708px;
	-webkit-box-shadow: inset 0px -30px 19px -3px #1c121b;
	-moz-box-shadow: inset 0px -30px 19px -3px #1c121b;
	box-shadow: inset 0px -30px 19px -3px #1c121b;	
}
.wrap.wrap2 {
	background: #1e1723;
	-webkit-box-shadow: inset 0px 12px 19px -4px #1c121b;
	-moz-box-shadow: inset 0px 12px 19px -4px #1c121b;
	box-shadow: inset 0px 12px 19px -4px #1c121b;
	min-height: 330px;
}

.wrapper {
	background-color: #d9d9d9;
	padding: 14px 0;
	min-height: 75.7vh;	
}
.wrapper.light_gray {
	background-color: #ececec;
	min-height: auto;	
	position: relative;
}
.content_block {
	width: 1106px;
	margin:0 auto;
	position: relative;
}
.head_left {
	float: left;
	padding-top: 15px;
padding-left: 10px;
max-width: 356px;

}
a.logo {
	font-size: 59px;
	display: inline-block;

}
a.logo span{
	padding-right: 14px;
	color:#f82812;
}
.phone_block {
	margin-top: 18px;
	margin-left: -57px;
	background-color: rgba(37,30,40,0.4);
	width: 295px;
	margin-bottom: 42px;
}
.phone_block a{
	font-size: 21px;
	display: block;

}
.phone_block a.phone_block_email{
	font-size: 18px;
}
.phone_block_in {
	padding: 6px 0px 7px 27px;
	margin-left: 60px;
	border-left:4px solid #f82812;
}

.head_right {
	float: right;
	width: 286px;
	background-color: rgba(37,30,40,0.87);
	margin-right: 50px;
}
.form_avatar {
	display: block;	
	background:url(../img/mrN.png) no-repeat;
	width: 43px;	
	height: 43px;	
	margin: 0 auto;
	margin-bottom: 30px;
}
.form_avatar.active {
	background:url(../img/mrNlogin.png) no-repeat;
}
form {
	padding: 40px 0px 0px 0px;
}

.form_input {
	background-color: rgba(148,145,152,0.9);
	font-size: 	18px;
	border:1px solid transparent;
	color:white;
	margin:0 auto;
	width: 222px;	
	padding: 3px 15px 3px 15px;
	margin-bottom: 31px;
	display: block;
}
.form_input.margin{
	margin-bottom: 37px;
}
.form_input.submit {
	width: 100%;
	font-size: 	21px;
	background-color: #f82812;
	line-height: 40px;
	padding: 0;	
	margin-bottom: 15px;
	text-align:center;	
	cursor: pointer;
}
form a.form_link {
	display: block;	
	margin-bottom: 22px;
	text-align: center;
	cursor:pointer;
}
form a.form_link.link2 {
	font-size: 18px;
}
.plan_block_wrap {
	position: absolute;
	top: -125px;
}
.plan_block {
	float: left;
	width: 24.42%;
	text-align: center;
	margin-right: 146px;
	position: relative;
}
.plan_block:last-child {
	margin-right: 0px;
}
.plan_block a.plan_img {
	width: 201px;
	height: 197px;
	margin:0 auto;
	display: block;
	border-radius: 9999px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: border ease 0.5s;
}
.plan_block a.plan_img.active,.plan_block a.plan_img:hover  {
	border: 2px solid #dd2614;
	transition: border ease 0.5s;
}
.plan_block .standart_txt {
	text-align: center;
	font-size: 14px;
}
.plan_block_link {	
	margin-top: 16px;
	margin-bottom: 35px;
}
/*.plan_block a.plan_block_link_absolute {
	display: block;
	position: absolute;
	height: 50%;
	width: 100%;
	border:none;
}
.plan_block a.plan_block_link_absolute:hover {
	border:none;
}*/
.plan_block a {
	font-size: 24px;
	font-weight: 300;
	display: inline;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
	transition: border-bottom ease 0.5s;
}
.plan_block a:hover,.plan_block a.active {
	border-bottom: 2px solid #dd2614;
	transition: border-bottom ease 0.5s;
}
footer {
	background: #dd2614;
	min-height:164px; 
	padding-top: 19px;
}
.client_footer {
	max-height: 100px;
	min-height: 100px;
}
.logo_footer {
	font-size: 22px;
	float: left;
	padding-right: 84px;
}
.logo_footer.logo_client_footer {
	font-size: 22px;
	float: left;
	padding-right: 44px;
	padding-top: 21px;
}
.footer_block {
	float: left;
	max-width: 105px;
	padding-right: 177px;
}
.footer_block .footer_link {
	font-size: 14px;
	display: block;
	padding: 5px 0px 0px 0px;

}
.footer_block.footer_block2 {
	padding-right: 76px;
	padding-top: 8px;
	max-width: 310px;
}
.footer_block.footer_block2.footer_client_block2 {
	padding-right: 0;
}

.footer_block.footer_client_block{
	padding-right: 21px;
	max-width: 100%;
	padding-top: 21px;
}
.footer_block.footer_client_block .footer_link{
	display: inline-block;
	margin-right: 31px;
}
.footer_block.footer_client_block .footer_link:last-child{
	margin-right: 31px;
}
.social_link {
	width: 40px;
	height: 40px;
	display: inline-block;
	border: 1px solid white;
	margin: 7px;
	border-radius: 999px;
	font-size: 22px;
	text-align: center;
	line-height: 40px;

}
.fa {
    color: white;
}
.footer_block .standart_txt {
	font-size: 11px;
}
.footer_block.footer_block3 {
	padding-right: 0;
    max-width: 214px;
    padding-top: 12px;
    line-height: 14px;

}
.footer_block.footer_block3.footer_client_block3 {
	max-width: 100%;
}
/**********************KA Client***************************/
header {
	min-height: 48px;
	background-color: #1e1723;

}
.header_block {
	float: left;
	margin-right: 231px;
	position: relative;
}
.header_block a{
	line-height: 2.8;
	vertical-align: bottom;
}
.header_block:nth-child(3n) {
	margin: 0;
}
.header_block .logo{
	font-size: 36px;
	line-height: 1.2;
}
.header_block .form_avatar{
	margin-bottom: 0;
	margin-top: 8px;
}
.header_block.float {
	margin: 0;
	float: right;
}
.header_block_login {
	position: absolute;
	background-color: rgba(30,23,35,0.8);
	padding: 20px 30px; 
	color: #fff;
	display: none;
	margin-left: -374px;
	z-index: 10;
	text-align: right;
}
.header_block_login a{
	display: inline-block;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;
	line-height: 1.5;
	margin-bottom: 15px;
}
.header_block_login a:last-child{
	margin-bottom: 0;
}
.header_block_login a:hover{
	display: inline-block;
	border-bottom: 1px solid #fff;
}
.mOffer {
	display: inline-block;
	width: 28px;
	height: 30px;
	background: url(../img/mOffer.png) no-repeat;
	margin-right: 11px;
}
a.link_redline {
	padding-bottom: 3px;
	border-bottom: 1px solid transparent;
	transition: border-bottom ease 0.3s;
			
}
a.link_redline:hover {
	border-bottom: 1px solid #ea2713;
}
a.link_redline.active {
	border-bottom: 1px solid #ea2713;
}
.header_white_menu_block {
	background-color: #ffffff;
}
.header_white_menu {
	width: 862px;
	height: 30px;
	margin: 0 auto;
}
.header_white_menu li a.black_list_link {
	border: 1px solid #1d1d1b;
	border-radius: 5px; 
	padding: 0px 14px 2px 14px;
	border-bottom: 1px solid;	
	transition: background-color,color 0.3s;
}
.header_white_menu li a.black_list_link:hover,.header_white_menu li a.black_list_link.active {
	background-color: #1d1d1b;
	color: white;
	border: 1px solid #1d1d1b;
}
.header_white_menu li{
	display: inline-block;
	margin-right: 44px;
	line-height: 30px;
}
.header_white_menu li:last-child{
	margin:0;
}
.header_white_menu li a{
	color: #6f6f6e;
	padding-bottom: 3px;
	transition: border-bottom ease 0.5s;
	border-bottom: 3px solid transparent;
}
.header_white_menu li a.active{
	color: #1d1d1b;
	border-bottom: 3px solid #ea2713;
}
.content_block.white {
	background-color: #ffffff;
	color: #1d1d1b;
}
form.client_form {
	width: 540px;
	color: #1d1d1b;
	margin: 0 auto;
	padding-top: 24px;
	padding-bottom: 20px;
}
form.client_form .select2-container--default .select2-selection--single,form.client_form .select2-dropdown{
	background-color: #d9d9d9;
}
form.client_form .form_input[type="text"]{
	margin-bottom: 0;
	font-size: 14px;
	line-height: 23px;
	background-color: #d9d9d9;
}
form.client_form .select2-results__option{
	font-size: 14px;
}

.standart_txt a {
	cursor: pointer;
}

.standart_txt.center {
	text-align: center;
}
.standart_txt.red_bg {
	color:white;
	background-color: #f82812;
	line-height: 33px;
	
}
.standart_txt.center .popup_form_check_label_link{
	font-weight: 300;
}
.standart_txt.center.red {
	color:#f82812;
	font-weight: 400;
	padding-bottom: 30px;
}
.standart_txt.center.padding {
	padding-top:15px;
	padding-bottom: 39px;
}
.standart_txt.center.padding2 {
	padding-top: 20px;
	padding-bottom: 10px;
}
.standart_txt.center.margin {
	margin-top: 50px;
	margin-bottom: 20px;
}
.form_input.form_input2.form_input4 {
	width: 184px !important;
}
.form_input.form_input2.form_input5 {
	width: 65px !important;
}
.client_form_textarea {
	width: 238px;
	height: 84px;
	background: #d9d9d9;
	color: #ffffff;
	border: none;
	float: right;
	font-family: 'Roboto';
	font-weight: 300;
	resize: none;
	padding: 3px 15px 3px 15px;
	line-height: 23px;
}
.client_form_textarea.width {
	width: 94.4%;
	margin-bottom: 12px;
	margin-top: 12px;
	color: #1d1d1b;
}
.popup_form_block label.max_width {
	max-width: 265px;
}


/********************Client Application table***********************/

.client_table {
	display: table;
	color: #1d1d1b;
	padding: 10px 0px 10px 10px;
	width: 99.1%;
}
.client_table_tr_head {
	display: table-header-group;
}
.head_gray .client_table_th{
	padding:2px 10px;
}
.client_table_tr {
	display: table-row;
	position: relative;
}
.client_table_tr_link,.tooltip.absolute {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
.tooltip.absolute .tooltip_text{
	left: 50%;
}
.client_table_tr:hover .client_table_td{
	border-right: 10px solid #ececec;
	background-color: #ececec; 
	transition: all 0.5s;
}
.client_table_tr:hover .client_table_td:last-child{
	border-right: 10px solid #fff;
}
.with_tooltip .client_table_tr:hover .client_table_td:nth-last-child(2){
	border-right: 10px solid #fff;
}
.client_table_tr:hover .client_table_td:first-child{
		border-left: 4px solid #f82812;
}
.client_table_th,.client_table_td {
	display: table-cell;
	border-right: 10px solid white;
	padding:2px 10px;
	text-transform: uppercase;
	overflow: visible;
	text-overflow: ellipsis;
}
.client_table_th {
	background-color: #d9d9d9;
	font-weight: 500;
	vertical-align: middle;
	font-size: 11px;
	position: relative;
    overflow: visible;
	max-height: 35px !important;
	height: 35px;
}
.client_table_th_txt {
	display: inline-block;
	float: left;
	padding-right: 15px;
	max-width: 160px;
	max-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;	
	line-height: 22px;
}

.client_table_th_txt2 {
	display: block;
	line-height: 9px;
	font-size: 8px;
	padding-bottom: 4px;
}
.client_table_th_option {
	width: 22px;
	height: 22px;
	display: inline-block;
	position: relative;
	float: right;
	background: url(../img/gearonlight.png) no-repeat;
	cursor: pointer;
}
.client_table_th_option.middle {
	margin-top: 4px;
}
.client_table_td {
	padding:15px 10px;
    max-width: 84px;
	vertical-align: middle;
	text-transform: none;
	position: relative;
}
a.client_table_td_txt {
	color: #1d1d1b;
	cursor: pointer;
}
.client_table_td_txt {
	font-size: 11px;
	overflow: hidden;
	max-width: 122px;
	display: inline-block;
	text-overflow: ellipsis;

}
.client_table_td_txt.center {
	font-size: 11px;

}
.client_table_tr .client_table_td:first-child{
		border-left: 4px solid transparent;
		padding-left: 6px;
}
.client_table_th_option_block {
	min-width: 110px;
	background-color: #fff;
	color: #1d1d1b;
	padding: 9px;
	display: none;
	text-align:left; 
	position: absolute;
	-webkit-box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);	
	border-radius: 3px;
	top: 10px;
	z-index: 10;
}
.client_table_th_option_block.gray_bg {
	background-color: #f5f5f5;
}
.client_table_th_option_block.active {
	display: block;
}
.option_block_link {
	color: #1d1d1b;
	display: block;
	font-weight: 300;
	font-size: 10px;
	text-transform: none;
	padding-bottom: 15px;
}
.option_block_link:hover{
	text-decoration: underline;
}

.client_table_th_option_block_checkbox{
	margin-bottom: 15px;
	padding-bottom: 5px;
}
.client_table_th_option_block_checkbox span{
	padding-bottom:10px;
	display: inline-block;
}
.client_table_th_option_block_checkbox a{
	display: block;
	cursor: pointer;
	color: #1d1d1b;
	margin-bottom: 10px;
	text-transform: none;
	font-weight: 300;
	font-size: 10px;
	padding-left: 20px;
	background:url(../img/filternone.png) no-repeat center left;
	position: relative;
}
.client_table_th_option_block_checkbox a input[type="checkbox"]{
	position: absolute;
	left: 0;
	width: 10px;
	height: 10px;
	opacity: 0;
	visibility:hidden;
	z-index: 10;
}

.client_table_th_option_block_checkbox a.active{
	background:url(../img/filteron.png) no-repeat center left;
}

.client_table_th_option_block_checkbox .form_input.submit{
	font-size: 14px;
	line-height: 28px;
	text-transform: none;
	margin-bottom: 5px;
}

.form_input.submit.width50 {
	width: 50%;
}




/********************MODAL ***********************/

#wrapper_popup{
	display: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
    min-height: 1037px;
	min-width: 320px;
}
#wrapper_popup.wrapper_popup2{
    min-height: 100vh;
}

#background_popup {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 280;
}
.popup {
    display: none;
    width: 540px;
    z-index: 299;
    background: rgba(30,23,35,0.9);
	position:absolute;
	left: 50%;
	margin-left:-350px;
	padding: 40px 80px;
}
.popup.popup_client_white {
	 background: #f5f5f5;
	-webkit-box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	border-radius: 5px;
	top: 40% !important;
	color: #1d1d1b;
}

.popup.popup_client_white.gray {
	padding: 40px 10px;
	margin-left: -548px;
	background: #e9e9e9;
	width: 1075px;
}
.popup.popup_client_white.gray .client_table .client_table_tr .client_table_td:first-child{
	border-left: none;
}
.popup.popup_client_white.gray .client_table .client_table_tr .client_table_td{
	border-right: none;
}
.popup form{
	padding:0px;
}
.popup form .form_avatar{
	margin-bottom: 23px;
}
.popup_close {
    position: absolute;
	top: 20px;
	width: 22px;
	height: 22px;
	right: 20px;

    cursor: pointer;
    z-index: 110;
	background: url(../img/disk_pappers_popup_close.png) no-repeat;
	border:none;
}
.popup_block {
	padding: 30px;
	padding-top: 45px;
}
.standart_txt.popup_txt_head {
	text-align:center;
	font-size: 14px;
	padding-bottom: 16px;
}
.standart_txt.popup_txt_head.last {
	font-size: 18px;
}
.popup form .form_input {
	margin-bottom: 0;
    width: 94.6%;
    position: relative;
}

.popup form .form_input.error {
	border: 1px solid #dd2614;
}

.popup_form_block label{
	float: left;
	padding-top: 5px;

}
/*.popup_input_error_wrap {
	position: relative;
	display: inline-block;
}
.popup_input_error_wrap .form_input.form_input3:last-child {
	
	margin-right: 24px;
}
.popup_input_error_wrap:last-child .form_input.form_input3 {

	margin-right: 0;
}
.popup_input_error_wrap .form_input.form_input3{
	width: 100% !important;
	float: none;
}
.popup_input_label{
	font-size: 12px;
	color: #dd2614;
	position: absolute;
	left: 15px;
	margin-top: -21px;
}*/
.select2-container{
	float: right;
	min-width: 389px;

}
.select2-container .select2-selection--single {
	height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	color:#fff;
}
.select2-container--default .select2-selection--single {
background-color: rgba(148,145,152,0.9);
border: 1px solid #fff;
border-radius: 0;
}
.select2-dropdown {
background-color: rgba(148,145,152,0.9);
border-: 1px solid #dd2614;
border-radius: 0px;
color:#fff;

}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
background-color: rgba(68,62,78,0.9);	
}
.select2-container--default .select2-results__option[aria-selected="true"] {
background-color: rgba(68,62,78,0.9);		
}
.popup_form_block {
	margin-bottom: 30px;
}
.date_open {
	float: right;
	width: 267px;
}
.date_open .form_input{
	float: left;
	text-align: center;
	margin-right: 20px;
	width: 32px !important;


}
.date_open .form_input:last-child{
	margin-right: 0;
	width: 67px !important;

}
.form_input.form_input2 {
	width: 109px !important;
	float: right;

}
.form_input.form_input3 {
	width: 41.84% !important;
	float: left;
	margin-right: 24px;
}
.form_input.form_input3:last-child {
	margin-right: 0;

}
label.popup_form_check_label {
	float: none;
	font-size: 18px;
	vertical-align: top;
	padding-left: 12px;
}
.popup_form_block.center {
	text-align:center; 
	margin-top: 43px;
	margin-bottom: 19px;

}
.popup_form_check_label_link {
	color: #dd2614;
	font-weight: 400;
	cursor: pointer;
	vertical-align: top;
	transition: border-bottom ease 0.5s;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
}
.popup_form_check_label_link:hover {
	color: #dd2614;
	border-bottom: 1px solid #dd2614;
}
.popup_form_check {
	display: none;
}
.popup_form_check_link {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	cursor: pointer;
	display: inline-block;
	border-radius:9999px ;
}
.popup_form_check_link.active {
	width: 32px;
	height: 32px;	
	border:none;
	background: url(../img/yes.png) no-repeat;
}
.form_input.submit {
	background-color: #f82812;
	width: 100%;
	margin-bottom: 38px;
}

.standart_txt.popup_txt_head.padding {
	padding-right: 80px;
padding-left: 80px;
padding-bottom: 30px;
}
/********************MODAL END***********************/







/********************Client Application2 ***********************/
.table_gray {
	padding:10px;
}
.table_gray_head {
	color: #fff;
	padding: 0 10px;
	background-color: #575756;
	font-size: 10px;
	font-weight: 500;
}
.table_gray_head_link {
	line-height: 35px;
	padding-right: 36px;
}
.table_gray_head_link:last-child {
	padding-right: 0;
}
.table_gray_head_link.link_close {
	float: left;
	display: inline-block;
	background: url(../img/back.png) no-repeat center left;
	padding-left: 30px;
}
.table_gray_head_link.link_close.link_save {
	background: url(../img/save.png) no-repeat center left;	
}
.table_gray_head_right {
	float: right;
	padding-right: 13px;
}
.table_gray_body {
	background-color: #ececec;
	text-transform: uppercase;
	font-size: 12px;
}
.table_gray_body_tr {
	display: table-row;
}
.table_gray_body_tr.white_row {
	background-color: #fff;
	height: 30px;
}
.table_gray_body_th,.table_gray_body_td {
	display: table-cell;
	font-weight: 500;
	vertical-align: middle;
	position: relative;
	overflow: visible;
	padding: 10px 0;
	padding-right: 15px;

}
.table_gray_body_th{
	padding-bottom:0;
}
.table_gray_body_th_txt {
	display: block;
	font-size: 8px;
}
.table_gray_body_td {
	font-weight: 300;
}
.table_gray_body_txt_appl {
	font-weight: 400;
	font-size: 21px;
}
.table_gray_body_txt_krit {
	font-weight: 500;
	font-size: 10px;
	padding-left: 30px;
	cursor: pointer;
	transition: color 0.5s;
	color: #1d1d1b;
	background: url(../img/table_gray_body_txt_krit.png) no-repeat left center;
	display: block;
}
.table_gray_body_txt_krit:hover {
	color: #f82812;
	background: url(../img/table_gray_body_txt_krit2.png) no-repeat left center;
}

.table_gray_body.dark_gray {
	background-color: #d9d9d9;
}
.client_table.client_table_gray {
	padding-left: 0;
	padding-bottom: 0;
	width: 100%;
}
.client_table.client_table_gray .table_gray_body_tr .table_gray_body_th:first-child,.client_table.client_table_gray .table_gray_body_tr .table_gray_body_td:first-child,.client_table.client_table_gray .table_gray_body_tr_form .table_gray_body_td:first-child{
	padding-left: 10px;
}
.table_gray_body_tr.dark_gray {
	background-color: #d9d9d9;
}
.table_gray_body_tr.dark_gray .table_gray_body_th,.table_gray_body_tr.dark_gray .table_gray_body_td{
	padding: 10px 0px 10px 0px;
}
.table_gray_body_tr.dark_gray .table_gray_body_th{
	padding-bottom: 0px;
}
.table_gray_body_tr.dark_gray .table_gray_body_td{
	text-transform: none;
	font-size: 12px;
}
.client_table_td_cv {
	display: inline-block;
	width: 12px;
	height: 14px;
	cursor: pointer;
	background: url(../img/cv.png) no-repeat;
}
.client_table_td_cv.comment {
	background: url(../img/comment.png) no-repeat;
}
.client_table_td_cv.comment_white {
	background: url(../img/comment_white.png) no-repeat;
}
.client_table_td_cv.comment_red {
	background: url(../img/comment_red.png) no-repeat;
}
.client_table_td_cv.comment2 {
	background: url(../img/table_gray_body_txt_krit.png) no-repeat;
}
.client_table_td.center{
	text-align: center;
}
.client_table.smaller_font,.client_table.smaller_font .client_table_th {
	font-size: 12px;
}
.client_table.smaller_font .client_table_td{
	text-transform: none;
	vertical-align: middle;
}
.table_gray_body_link {
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
	transition: border ease 0.5s; 
	color: #1d1d1b;
}
.table_gray_body_link:hover {
	border-bottom: 1px solid #ababaa;
}
.table_select .select2-container{
	float: left;
	max-width: 152px;
	min-width: 100px;
	z-index: 10;

}
.table_select .select2-container .select2-selection--single {
	height: 37px;
}
.table_select .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #1d1d1b;
}
.table_select .select2-container .select2-selection--single .select2-selection__rendered {
	color: #1d1d1b;
	line-height: 37px;
}
.table_select .select2-container--default .select2-selection--single {
	background-color: white;
	border: none;
	border-radius: 0;
}
.table_select .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 37px;
}
.for_dropdown .select2-dropdown {
	background-color: white;
	border: none;
	border-radius: 3px;
	color:#1d1d1b;;
	font-size: 12px;
}
.for_dropdown .select2-container--default .select2-results__option--highlighted,.for_dropdown .select2-container--default .select2-results__option{
	background-color: transparent;	
	color:#1d1d1b;
	display: inline-block;
	border-bottom: 1px solid transparent;
	padding-left: 0;
	padding-right: 0;
	margin-left: 5px;
	margin-bottom: 	5px;
	margin-right: 50px;
	overflow: hidden;
}
.for_dropdown .select2-container--default .select2-results__option--highlighted[aria-selected],.for_dropdown .select2-container--default .select2-results__option[aria-selected="true"] {
border-bottom: 1px solid #1d1d1b;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-x: hidden;
}
/*****************TOLLTIP************************/

.tooltip .tooltip_text {
    visibility: hidden;
    width: auto;
    background-color: #fefbcf;
    color: #1d1d1b;
    text-align: left;
    border-radius: 5px;
    padding: 13px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    font-weight: 400;	
    font-style: italic;
    text-transform: none;	
    font-size: 10px;
	-webkit-box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);
	box-shadow: 7px 10px 26px -7px rgba(0,0,0,0.75);	    
}
.tooltip .tooltip_text.red_bg {
    background-color: #fed4d0;
}
.tooltip:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}
.white_input {
    width: 80%;
    border: none;
    padding: 10px 5px 10px 5px;
    text-transform: uppercase;
    text-overflow: ellipsis;
}
.client_table.candidats .client_table_tr_head .client_table_th .client_table_th_txt{
	max-width: 84px;
overflow: hidden;
text-overflow: ellipsis;
line-height: 16px;
font-size: 10px;
}.client_table.candidats .client_table_tr .client_table_td .client_table_td_txt{
	max-width: 84px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px;
	font-size: 10px;
}
.client_table.candidats .client_table_tr_head .client_table_th .client_table_th_option{
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -11px;
}
.table_black_body {
	background-color: #1d1d1b;
}
.table_black_body .client_table .client_table_th,.table_black_body .client_table .client_table_td{
	border-color: #1d1d1b;
	background-color: #6f6f6e;
	color: white;
}
.table_black_body .client_table .client_table_tr:hover .client_table_td:first-child{
	border-left: 4px solid transparent;

}
.table_black_body .client_table .client_table_tr:hover .client_table_td:last-child  {
	border-right:10px solid transparent;
}
.table_black_body .client_table .client_table_td{
	background-color: #1d1d1b;
}
.popup_form_check_link.table {
width: 20px;
height: 20px;
}
.popup_form_check_link.table.active {
width: 22px;
height: 22px;
background: url(../img/yeslittlewhite.png) no-repeat center;
}
.popup_form_check_link.table.black {
	border: 1px solid #292927;
}
.popup_form_check_link.table.black.active {
width: 20px;
height: 20px;
background: url(../img/yeslittleblack.png) no-repeat center;
}
.popup form .form_input.submit.smaller_font {
	font-size: 16px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 10px;
}
.rating.direction_ltr {
  direction: ltr;
}
.rating span.star {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}
.rating span.star::before {
    content: "\f005";
    color: #d9d9d9;
	transition: color ease 0.3s;
}
.rating span.star:hover {
    cursor: pointer;
}
.rating span.star:hover::before, .rating span.star:hover ~ span.star::before, .rating span.star.active ~ span.star::before {
    content: "\f005";
    color: #f82812;
	transition: color ease 0.3s;
}
.rating.direction_ltr span.star.active:hover ~ span.star::before {
    content: "\f005";
    color: #d9d9d9;
}
.table_gray_body_tr_form {
	display: table-row;
}
.header_white_menu.header_white_menu2 li{
	margin-right: 156px;
}
.header_white_menu.header_white_menu2 li:last-child{
	margin-right: 0;
}
.header_white_menu.header_white_menu3 li{
	margin-right: 73px;
}
.header_white_menu.header_white_menu3 li:last-child{
	margin-right: 0;
}
/***********************************administrator*/
.red_marker {
	background-color:#f82812;
	color: #fff;
}
.client_table_tr:hover .client_table_td.red_marker {
	background-color:#f82812;
	color: #fff;
}
.wrap_inside {
	padding: 10px;
}
.red_button {
	background-color:#f82812;
	color: #fff;
	line-height: 40px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
}
.popup.popup_client_white.gray .client_table{
	font-size: 10px;

	padding: 0;
padding-bottom: 20px;
}
.popup.popup_client_white.gray .client_table .client_table_tr .client_table_td .white_input {
	width: 100%;
	font-size: 10px;
	text-transform: none;
}
.float_l {
	float: left;
}
.float_r {
	float: right;
}
.head_txt_bold {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}
.wrap_inside.padding_add {
padding: 15px;
padding-top: 21px;
}
.agency_logo {
	background-repeat: no-repeat;
	background-position:center;
	width: 200px;
	height: 200px;
	margin-bottom: 68px;
}
.agency_head_txt {
	    margin-left: 11px;
	    margin-bottom: 19px;
	font-size: 12px;
}
.agency_info_wrap {
	float: left;
	font-size: 12px;
	width: 19%;
}
.agency_info_wrap.right {
	width: 74.34%;
margin-left: 52px;
}
.head_txt_input_wrap {
	float: right;
	margin-right: 22px;


}
.head_txt_input_wrap.phone{
	width: 50%;

}
.head_txt_input_wrap span {
	float: left;

}
.company_name_txt {
	font-weight: 500;


}
.agency_txt_right {
	margin-top: 39px;
	margin-bottom: 24px;
}
.agency_txt_block {
	width: 27%;
margin-right: 23px;
}
.agency_txt_block.right {
	width: 70%;
margin-right: 0;
}
.agency_txt_block.right p{    
	padding-bottom: 8px;
    line-height: 1.37;
}
.agency_txt_padding {
	    padding-bottom: 24px;
}
.white_input.gray_input {
	margin-top: -11px;
	background-color: #ececec;
	width: 100%;
	padding: 5px 15px;
	text-transform: none;
}
.white_input.gray_input.gray_input2,.agency_head_textarea.textarea2 {
	width: 89%;
	margin-top: 0;
}
.agency_head_textarea.textarea3 {
	width: 95%;
	margin-top: 0;
	height: 330px;
}
.text_align_center{
	text-align: center; 
	text-transform: none;
} 
.agency_head_textarea {
	width: 100%;
	height: 50px;
	background-color: #ececec;
	border: none;
	font-family: 'Roboto';
	font-weight: 300;
	resize: none;
	padding: 5px 15px;
	margin-top: -11px;
	line-height: 23px;
}
/***********************************administrator*/
.client_table_td_select.select2 {
	text-transform: none;
	font-size: 12px;
}
/********************************manager*/
.bold {
	font-weight: 500;
}
.white_input.hidden {
	opacity: 0;
	visibility: hidden;
}
.table_gray_body_td.red_txt {
	padding-right: 0;
	font-weight: 400;
}
.client_form_textarea.table_textarea {
	width: 86%;
	height: 94px;
	background-color: #fff;
	color: #1d1d1b;
	font-size: 12px;
	font-weight: 300;
	float: none;
}
.table_gray_body_tr.vertical_align_top .table_gray_body_td,.client_table_tr.vertical_align_top .client_table_td{
	vertical-align: top;
}
.client_table.w50 {
	width: 44%;
	margin: 0 auto;
}
.client_table.manager_table{
	padding-left: 64px;
}
.client_table.manager_table .table_gray_body_tr .table_gray_body_td {
	text-transform: none;
	font-size: 12px;
	background-color: transparent !important;
}
.client_table.manager_table .table_gray_body_tr .table_gray_body_td.table_select .select2-container .selection .select2-selection--single{
	background-color: transparent;
	font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
	display: none;
}
.form_input.submit.manager_submit {
	font-size: 16px;
}
.manager_note {
	position: absolute;
	font-style:italic; 
	font-weight: 400;
	width: 150px;
	text-transform: none;
	right: 141px;
	margin-top: 77px;

}
.padding_bot_zero {
	padding-bottom: 0;
}
.padding_top_zero {
	padding-top: 0;
}
.padding_left_zero {
	padding-left: 0;
}
.delete_some {
	display: none;
	width: 13px;
	height: 13px;
	cursor: pointer;
	background: url(../img/del.png) no-repeat;
}
.client_table_tr:hover .client_table_td a.delete_some {
	display: block;
}
.client_table.popup_table .client_table_tr .client_table_td.w200{
width: 200px;
max-width: 200px;
}
.client_table.popup_table .client_table_tr .client_table_td.w110{
width: 110px;
max-width: 110px;
}
.client_table.popup_table .client_table_tr .client_table_td.padding_top{
padding-top: 25px;
}
.client_table.popup_table .client_table_tr .client_table_td.w540{
width: 556px;
max-width: 556px;
}
.client_table.popup_table .client_table_tr .client_table_td.w540 textarea.client_form_textarea{
width: 96%;
}
/********************************manager*/

/********************************rekrut*/
.header_white_menu.header_white_menu4 li{
	margin-right: 232px;
}.header_white_menu.header_white_menu4 li:last-child{
	margin-right: 0;
}

/********************************rekrut*/


/********************************lk*/

.header_white_menu.header_white_menu5 {
	text-align: center;
}
.company_name_txt.name_txt {
	font-weight: 400;
}
.name_txt_light {
	font-weight: 300;
}
.agency_head_txt_right.margin_1 {
	margin-bottom: 25px;
}
.agency_head_txt_right.margin_2 {
	margin-top: 65px;
}
.agency_head_txt_right.margin_3 {
	margin-bottom: 45px;
}
.white_input.gray_input.w200{
width: 200px;
}
.txt_transf {
	text-transform: uppercase;
}
.editable,.editable_hide.active {
	display: none;
}
.editable.active {
	display: inline-block;
}
.password_change_block.editable.active {
	display: block;
}
.password_change_block {
	width: 600px;
	margin: 0 auto;
	position: relative;
}
.password_change_block .form_input.submit{
	margin: 20px 0;
}
.password_change_block.w50 {
	width: 70%;
	margin:0;
	margin-top: 10px;
	text-align:right; 
}
.password_change_block .manager_note {
	text-align:left;
	margin-top: 68px;
	z-index: 10;
	right: 0;
}
.password_change_block.w50 label{
	text-transform: uppercase;
	font-weight: 500;
	padding-right: 20px;
	font-size: 14px;
}
.password_change_input {
	background-color: #ececec;
	padding: 5px 15px;
	text-transform: none;
	border: none;
	text-overflow: ellipsis;
	font-size: 14px;
}
.padding_bottom {
	padding-top: 20px;
	padding-bottom: 15px;
}
/********************************lk*/
